<h1><span>Contato</span></h1>
<p class="title-pagecontact"><i class="icon-comment-alt"></i>Envie sua mensagem que em breve responderemos esclarecendo sua dúvida.</p>

<%= form_for :contact, url: contato_enviar_mensagem_path, html: {class: 'std', id: 'ContactForm'} do |f| %>
  <fieldset class="titled_box">
    <h2><span>Preencha os campos para enviar sua mensagem</span></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p class="form-group">
          <%= f.label :subject, "Assunto" %>
          <%= f.select :subject, contact_subject_options,{}, class: 'form-control' %>
        </p>
        <p class="form-group">
          <%= f.label :name, "Nome" %>
          <%= f.text_field :name, class: 'form-control' %>
        </p>
        <p class="form-group">
          <%= f.label :email, "Email" %>
          <%= f.text_field :email, class: 'form-control' %>
        </p>
        <p class="form-group">
          <%= f.label :company, "Empresa" %>
          <%= f.text_field :company, class: 'form-control' %>
        </p>
        <p class='text-right'>
          <input class="button btn btn-default" type="submit" value="Enviar" />
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p class="form-group">
          <%= f.label :message, "Mensagem" %>
          <%= f.text_area :message, class: 'form-control', rows: 16, cols: 10 %>
        </p>
      </div>
    </div>
  </fieldset>
<% end %>




<script type="text/javascript">
$(document).on("page:change ready", function(){
  $("#ContactForm").validate({
    rules: {
      'contact[name]': "required",
      'contact[message]': "required",
      'contact[email]': {
        required: true,
        email: true
      }
    }
  });
})
</script>
