<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou uma nova senha para acessar o site <a href="http://www.rotaempresarial.com.br">www.rotaempresarial.com.br</a>. Para obter esta nova senha clique no link abaixo</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha feito nenhuma solicitação apenas ignore este email.</p>
<p>Sua senha antiga não será alterada enquanto não clicar no link acima e criar uma nova.</p>
