<%= form_for(@holiday) do |f| %>
  <% if @holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% @holiday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :occur_at %><br>
      <%= f.date_select :occur_at, class: 'form-control' %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default' %>
<% end %>
