<h1>Lista de Feriados</h1>

<%= link_to 'Novo Feriado', new_holiday_path, class: 'btn btn-default' %>
<br><br>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ocorre em</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.name %></td>
        <td><%= l holiday.occur_at %></td>
        <td class="text-right">
          <div class="btn-group btn-group-xs">
            <%= link_to 'Detalhes', holiday, class: 'btn btn-default' %>
            <%= link_to 'Editar', edit_holiday_path(holiday), class: 'btn btn-default' %>
            <%= link_to 'Apagar', holiday, method: :delete, data: { confirm: 'Deseja prosseguir?' }, class: 'btn btn-default btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Feriado', new_holiday_path, class: 'btn btn-default' %>
