<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @holiday.name %>
</p>

<p>
  <strong>Occur at:</strong>
  <%= @holiday.occur_at %>
</p>

<%= link_to 'Editar', edit_holiday_path(@holiday) %> |
<%= link_to 'Voltar', holidays_path %>
