<%= form_for(@client, url: (@client.new_record? ? admin_clients_path : admin_client_path(@client))) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :rg %><br>
    <%= f.text_field :rg, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :address_city %><br>
    <%= f.text_field :address_city, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :address_state %><br>
    <%= f.text_field :address_state, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :address_neighborhood %><br />
    <%= f.text_field :address_neighborhood, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :address_zipcode %><br>
    <%= f.text_field :address_zipcode, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :city_id %><br>
    <%= f.collection_select :city_id, City.order(:name).all, :id, :name,{include_blank: true}, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :company_id %><br>
    <%= f.collection_select :company_id, Company.order(:name).all, :id, :name,{include_blank: true}, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :site_term_id %><br>
    <%= f.collection_select :site_term_id, SiteTerm.order(:created_at).all, :id, :created_at,{include_blank: true}, class: 'form-control', disabled: :disabled %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :newsletter %><br>
    <%= f.check_box :newsletter, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :agree %><br>
    <%= f.check_box :agree, class: 'form-control', disabled: :disabled %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default' %>
<% end %>
