<h1>Lista de Clientes</h1>

<%= link_to 'Novo cliente', new_admin_client_path, class: 'btn btn-default' %>
<br />
<br />

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Nome</th>
      <th>Telefones</th>
      <th>Documentos</th>
      <th>Endereço</th>
      <th>Cidade</th>
      <th>Anunciante</th>
      <th width="170"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.id %></td>
        <td><%= client.email %></td>
        <td><%= client.name %></td>
        <td><%= client.phones.to_sentence %></td>
        <td><%= client.documents.join(" / ") %></td>
        <td><%= client.address %></td>
        <td><%= client.city.try(:name) %></td>
        <td><%= client.company.try(:name) %></td>
        <td class="text-right">
          <div class="btn-group btn-group-xs" data-no-turbolink>
            <%= link_to 'Detalhes', admin_client_path(client), class: 'btn btn-default' %>
            <%= link_to 'Editar', edit_admin_client_path(client), class: 'btn btn-default' %>
            <%= link_to 'Apagar', admin_client_path(client), method: :delete, data: { confirm: 'Deseja prosseguir?' }, class: 'btn btn-default btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo cliente', new_admin_client_path, class: 'btn btn-default' %>
