<div id="featured-products_block_center" class="main_page_products block">
  <h4><span><u><%= @product_ads.count %></u> ofertas disponíveis para <u><%= current_city.name %></u></span></h4>
  <%= render partial: 'shared/product_ad_box', locals: {product_ads: @product_ads} %>
</div>
