<% content_for(:sidebar_left) do %>
<%= render partial: 'shared/company_categories' %>
<% end -%>
<div class="main_page_products block">
  <h4><span>Empresas em Destaque para <u><%= current_city.name %></u></span></h4>
  <%= render partial: 'guia_empresarial/company_box', locals: {companies: @companies} %>
</div>


<div class="fb-like-box" data-href="https://www.facebook.com/rotaempresarialoficial" data-width="100%" data-height="190" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
