<%= form_for(@product_ad_order) do |f| %>
  <% if @product_ad_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_ad_order.errors.count, "error") %> prohibited this product_ad_order from being saved:</h2>

      <ul>
      <% @product_ad_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :product_ad_id %><br>
    <%= f.text_field :product_ad_id %>
  </div>
  <div class="field">
    <%= f.label :real_price %><br>
    <%= f.text_field :real_price %>
  </div>
  <div class="field">
    <%= f.label :special_price %><br>
    <%= f.text_field :special_price %>
  </div>
  <div class="field">
    <%= f.label :discount %><br>
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :annotations %><br>
    <%= f.text_area :annotations %>
  </div>
  <div class="field">
    <%= f.label :coupon %><br>
    <%= f.text_field :coupon %>
  </div>
  <div class="field">
    <%= f.label :terms %><br>
    <%= f.text_area :terms %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <%= f.datetime_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :start_use_at %><br>
    <%= f.datetime_select :start_use_at %>
  </div>
  <div class="field">
    <%= f.label :end_use_at %><br>
    <%= f.datetime_select :end_use_at %>
  </div>
  <div class="field">
    <%= f.label :product_type %><br>
    <%= f.number_field :product_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
