<h1>Lista de product_ad_orders</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Client</th>
      <th>Product ad</th>
      <th>Real price</th>
      <th>Special price</th>
      <th>Discount</th>
      <th>Status</th>
      <th>Annotations</th>
      <th>Coupon</th>
      <th>Terms</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Start use at</th>
      <th>End use at</th>
      <th>Product type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_ad_orders.each do |product_ad_order| %>
      <tr>
        <td><%= product_ad_order.order %></td>
        <td><%= product_ad_order.client %></td>
        <td><%= product_ad_order.product_ad %></td>
        <td><%= product_ad_order.real_price %></td>
        <td><%= product_ad_order.special_price %></td>
        <td><%= product_ad_order.discount %></td>
        <td><%= product_ad_order.status %></td>
        <td><%= product_ad_order.annotations %></td>
        <td><%= product_ad_order.coupon %></td>
        <td><%= product_ad_order.terms %></td>
        <td><%= product_ad_order.start_at %></td>
        <td><%= product_ad_order.end_at %></td>
        <td><%= product_ad_order.start_use_at %></td>
        <td><%= product_ad_order.end_use_at %></td>
        <td><%= product_ad_order.product_type %></td>
        <td><%= link_to 'Detalhes', product_ad_order %></td>
        <td><%= link_to 'Editar', edit_product_ad_order_path(product_ad_order) %></td>
        <td><%= link_to 'Apagar', product_ad_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product ad order', new_product_ad_order_path %>
