<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @product_ad_order.order %>
</p>

<p>
  <strong>Client:</strong>
  <%= @product_ad_order.client %>
</p>

<p>
  <strong>Product ad:</strong>
  <%= @product_ad_order.product_ad %>
</p>

<p>
  <strong>Real price:</strong>
  <%= @product_ad_order.real_price %>
</p>

<p>
  <strong>Special price:</strong>
  <%= @product_ad_order.special_price %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product_ad_order.discount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product_ad_order.status %>
</p>

<p>
  <strong>Annotations:</strong>
  <%= @product_ad_order.annotations %>
</p>

<p>
  <strong>Coupon:</strong>
  <%= @product_ad_order.coupon %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @product_ad_order.terms %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @product_ad_order.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @product_ad_order.end_at %>
</p>

<p>
  <strong>Start use at:</strong>
  <%= @product_ad_order.start_use_at %>
</p>

<p>
  <strong>End use at:</strong>
  <%= @product_ad_order.end_use_at %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @product_ad_order.product_type %>
</p>

<%= link_to 'Editar', edit_product_ad_order_path(@product_ad_order) %> |
<%= link_to 'Voltar', product_ad_orders_path %>
