<div class="breadcrumb">
  <div class="breadcrumb_inset">
    <a class="breadcrumb-home" href="/" title="Retornar a página inicial"><i class="icon-home"></i></a>
    <span class="navigation-pipe">»</span>
    <span class="navigation_page"><a href="<%=minha_conta_path%>">Minha conta</a></span>
    <span class="navigation-pipe">»</span>
    <span class="navigation_page">Meus dados</span>
  </div>
</div>

<h1><span>Atualizar conta</span></h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'ClientForm' }) do |f| %>
<%= devise_error_messages! %>
<div class="row">
  <div class="std col-xs-12 col-sm-12">
    <div class="std col-xs-12 col-sm-6">
      <fieldset class="account_creation titled_box">
        <h2><span>Dados pessoais</span></h2>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="required form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12">
            <div class="required form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control', value: email_value_from_param(f.object)  %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12">
            <div class="required form-group">
              <%= f.label :current_password %>
              <%= f.text_field :current_password, type: 'password', autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="required form-group">
              <%= f.label :cpf %>
              <%= f.text_field :cpf, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="required form-group">
              <%= f.label :rg %>
              <%= f.text_field :rg, class: 'form-control' %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="std col-xs-12 col-sm-6">
      <fieldset class="titled_box">
        <h2><span>Dados de endereço</span></h2>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group required">
              <%= f.label :address %>
              <%= f.text_field :address, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <%= f.label :address_city %>
              <%= f.text_field :address_city, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <%= f.label :address_state %>
              <%= f.text_field :address_state, class: 'form-control', maxlength: 2 %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <%= f.label :address_neighborhood %>
              <%= f.text_field :address_neighborhood, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <%= f.label :address_zipcode %>
              <%= f.text_field :address_zipcode, class: 'form-control', maxlength: 8 %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="required form-group">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: 'form-control', maxlength: 15 %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="required form-group">
              <%= f.label :mobile %>
              <%= f.text_field :mobile, class: 'form-control', maxlength: 15 %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<div class="row">
  <div class="std col-xs-12 col-sm-12">
    <div class="std col-xs-12 col-sm-6">
      <fieldset class="account_creation customerprivacy titled_box">
        <h2><span>Dados privados</span></h2>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="checkbox-inline form-group">
              <label>
                <%= f.text_field :newsletter, type: 'checkbox' %>
                Deseja receber nossas novidades por email?
              </label>
            </div>
            <br>
            <div class="checkbox-inline form-group">
              <label>
                <%= f.text_field :agree, type: 'checkbox', checked: 'checked', disabled:  'disabled' %>
                Declaro estar de acordo com os termos de adesão <small><a href="javascript:;" data-toggle="modal" data-target="#clientTerms">(clique aqui para ler os termos)</a></small>
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="std col-xs-12 col-sm-6">
      <fieldset class="account_creation customerprivacy titled_box">
        <h2><span>Cidade preferencial para ofertas</span></h2>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <%= f.select :city_id, all_cities.map{|t| [t.name,t.id]}, {}, class: 'form-control' %>
            </div>
          </div>
        </div>
      </fieldset>
      <p class="cart_navigation required submit form-group">
        <input type="submit" id="submitAccount" value="Atualizar conta" class="exclusive btn btn-default" />
        <span><sup>*</sup>Campos obrigatórios</span>
      </p>
    </div>
  </div>
</div>
<% end %>

<%= render partial: "shared/site_terms" %>

<script type="text/javascript">
$(document).on("page:change ready", function(){
  $("#ClientForm").validate({
    rules: {
      'client[name]': "required",
      'client[rg]': "required",
      'client[email]': {
        required: true,
        email: true,
        remote: "/minha-conta/validar-email"
      },
      'client[cpf]': {
        required: true,
        remote: "/minha-conta/validar-cpf",
        cpf: true
      },
      'client[current_password]': {
        required: true,
        minlength: 5
      },
      'client[address]': {
        required: true,
        maxlength: 255
      },
      'client[address_city]': {
        required: true,
        maxlength: 100
      },
      'client[address_state]': {
        required: true,
        maxlength: 100
      },
      'client[mobile]': {
        required: true,
      },
      'client[phone]': {
        required: true
      },
      'client[address_neighborhood]': {
        required: true,
        maxlength: 100
      },
      'client[city_id]': "required",
      'client[address_zipcode]': {
        required: true,
        minlength: 8,
        maxlength: 8
      }
    },
    messages: {
      'client[address_zipcode]': {
        minlength: 'Forneça exatamente 8 caracteres',
        maxlength: 'Forneça exatamente 8 caracteres'
      },
      'client[email]': {
        remote: "Este email já está registrado"
      },
      'client[cpf]': {
        remote: "Este cpf já está registrado",
        cpf: "Informe um cpf válido"
      }
    }
  });
})
</script>
