<% product_ads.in_groups_of(4,false).each do |grouped| %>
<ul class="row">
  <% grouped.each do |product_ad| %>
  <li class="ajax_block_product col-xs-6 col-sm-6 col-md-3 first_item_of_line first_item_of_tablet_line">
    <div class="inner_content clearfix">
      <% unless product_ad.expired? %>
        <% if product_ad.newer?(:company) %>
        <div class="sale-box"><span class="before"></span><span class="after"></span><span class="on_sale title_shop">Novidade!</span></div>
        <% end %>

        <% if product_ad.ending?(:company) %>
        <div class="new-box"><span class="before"></span><span class="after"></span><span class="new">Encerrando!</span></div>
        <% end %>
      <% else %>
        <div class="new-box"><span class="before"></span><span class="after"></span><span class="new">Encerrada</span></div>
      <% end %>
      <div class="product_image"><a href="<%= painel_controle_administrar_oferta_path(product_ad) %>" title="<%= time_ago_in_words(product_ad.end_use_at) %> para finalizar" class="product_image"><img src="<%= product_ad.image.url(:box) %>" alt="<%= time_ago_in_words(product_ad.end_at) %> para finalizar" /></a></div>
      <div class="product_content text-center">
        <% unless product_ad.expired? %>
        <h5 class="countdown text-center alert alert-warning" data-end-at="<%= product_ad.end_at.to_s(:db) %>"></h5>
        <% end -%>
        <h3><%= product_ad.title %></h3>
        <div class="btn-group btn-group-xs">
          <a class="btn btn-default" href="<%=painel_controle_administrar_oferta_path(product_ad) %>" title="administrar"><span>administrar</span></a>
          <a class="btn btn-default" href="<%=painel_controle_administrar_oferta_path(product_ad) %>" title="<%= product_ad.total_coupons %> cupons"><span><%= product_ad.total_coupons %> cupons</span></a>
          <a class="btn btn-default" href="<%=painel_controle_administrar_oferta_path(product_ad) %>" title="<%= product_ad.product_ad_orders.aprovado.count %> vendas"><span><%= product_ad.product_ad_orders.aprovado.count %> vendas</span></a>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<% end -%>
