<div class="breadcrumb">
  <div class="breadcrumb_inset">
    <a class="breadcrumb-home" href="/" title="Retornar a página inicial"><i class="icon-home"></i></a>
    <span class="navigation-pipe">»</span>
    <span class="navigation_page"><a href="<%=minha_conta_path%>">Minha conta</a></span>
    <span class="navigation-pipe">»</span>
    <span class="navigation_page"><a href="<%=painel_controle_path%>">Painel de Controle</a></span>
    <span class="navigation-pipe">»</span>
    <span class="navigation_page">Administração de Oferta</span>
  </div>
</div>

<h1><span>Administração da Oferta: <u><%= @product_ad.title %></u></span></h1>
<div class="row">
  <div class="col-sm-4">
    <img src="<%= @product_ad.image.url %>" />
  </div>
  <div class="col-sm-8">
    <h4>Interesse pela Oferta: <u><strong><%= @product_ad.views %> interesse(s)</strong></u></h4>
    <h4>Vendas concretizadas: <u><strong><%= @product_ad.product_ad_orders.aprovado.count %></strong></u></h4>
    <% if @product_ad.oferta? %>
      <h4>Cupons pendentes de pagamento: <u><strong><%= @product_ad.product_ad_orders.pending.count %></strong></u></h4>
      <h4>Valor a receber: <u><strong><%= number_to_currency @product_ad.product_ad_orders.aprovado.sum(:transfer_price) %></strong></u></h4>
    <% end -%>
  </div>
</div>
<br />
<% unless @product_ad.product_ad_orders.aprovado.nao_utilizado.blank? %>
<div class="well">
  <div class="row">
    <div class='std col-xs-12 col-sm-12'>
      <fieldset class="titled_box">
        <h2><span>Cupons aprovados porém <u>não utilizados</u></span></h2>
        <div class="form_content clearfix">
          <table class="table table-striped table-condensed" id="admCoupons">
            <thead>
            <tr>
              <th>Cupom</th>
              <th>Adquirido por</th>
              <th>CPF/RG</th>
              <th class="col-md-3">Vencimento do Uso</th>
              <th width="230">Ações</th>
            </tr>
            </thead>
            <tbody>
              <% @product_ad.product_ad_orders.aprovado.nao_utilizado.each do |product_ad_order| %>
              <tr>
                <td><h4><%= product_ad_order.coupon %></h4></td>
                <td><h4><%= product_ad_order.client.name %></h4></td>
                <td><h4><%= [product_ad_order.client.cpf, product_ad_order.client.rg].reject{|t| t.blank?}.join(' / ') %></h4></td>
                <td><h4><%= l product_ad_order.end_use_at %></h4></td>
                <td>
                <div class="btn-group btn-group-xs">
                  <%= link_to "Marcar como Utilizado", painel_controle_utilizar_cupon_path(product_ad_order.coupon), class: "btn btn-default btn-primary" %>
                  <%= link_to "Regulamento", "javascript:;", data: {toggle: :modal, target: "#coupon-info#{product_ad_order.coupon}"}, class: "btn btn-default btn-primary" %>
                </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<% @product_ad.product_ad_orders.aprovado.nao_utilizado.each do |product_ad_order| %>
<div class="modal fade" id="coupon-info<%=product_ad_order.coupon%>" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Regulamento adquirido por <strong><%=product_ad_order.order.client.name%></strong> - <%= product_ad_order.coupon %></h4>
      </div>
      <div class="modal-body">
        <%= product_ad_order.terms.to_s.html_safe %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end -%>


<% unless @product_ad.product_ad_orders.aprovado.utilizado.blank? %>
<div class="well">
  <div class="row">
    <div class='std col-xs-12 col-sm-12'>
      <fieldset class="titled_box">
        <h2><span>Cupons aprovadose <u>utilizados</u></span></h2>
        <div class="form_content clearfix">
          <table class="table table-striped table-condensed" id="admCoupons">
            <thead>
            <tr>
              <th>Cupom</th>
              <th>Adquirido por</th>
              <th>CPF/RG</th>
              <th class="col-md-3">Vencimento do Uso</th>
              <th class="col-md-3">Cupom utilizado em</th>
            </tr>
            </thead>
            <tbody>
            <% @product_ad.product_ad_orders.aprovado.utilizado.each do |product_ad_order| %>
              <tr>
                <td><h4><%= product_ad_order.coupon %></h4></td>
                <td><h4><%= product_ad_order.client.name %></h4></td>
                <td><h4><%= [product_ad_order.client.cpf, product_ad_order.client.rg].reject{|t| t.blank?}.join(' / ') %></h4></td>
                <td><h4><%= l product_ad_order.end_use_at %></h4></td>
                <td><h4><%= l product_ad_order.used_at %></h4></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<% end -%>


<% unless @product_ad.product_ad_orders.pending.blank? %>
<div class="well">
  <div class="row">
    <div class='std col-xs-12 col-sm-12'>
      <fieldset class="titled_box">
        <h2><span>Cupons Pendentes de Pagamento</span></h2>
        <div class="form_content clearfix">
          <table class="table table-striped table-condensed" id="admCoupons">
            <thead>
            <tr>
              <th>Adquirido por</th>
              <th>Forma de pagamento</th>
              <th class="col-md-3">Vencimento do Uso</th>
              <th class="col-md-3">Data da Compra</th>
            </tr>
            </thead>
            <tbody>
              <% @product_ad.product_ad_orders.pending.each do |product_ad_order| %>
              <tr>
                <td><h4><%= product_ad_order.client.name %></h4></td>
                <td><h4><%= product_ad_order.order.order_transaction.payment_method.titleize if product_ad_order.order.order_transaction %></h4></td>
                <td><h4><%= l product_ad_order.end_use_at %></h4></td>
                <td><h4><%= l product_ad_order.created_at %></h4></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<% end -%>
