<div class="breadcrumb">
  <div class="breadcrumb_inset">
    <a class="breadcrumb-home" href="/" title="Retornar a página inicial"><i class="icon-home"></i></a>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page"><a href="<%=minha_conta_path%>">Minha conta</a></span>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page">Painel de Controle</span>
  </div>
</div>

<div id="featured-products_block_center" class="main_page_products block">
  <h4><span>Ofertas Ativas</span></h4>
  <%= render partial: 'product_ad_box', locals: {product_ads: @active_product_ads} %>
</div>

<div id="featured-products_block_center" class="main_page_products block">
  <h4><span>Ofertas Encerradas</span></h4>
  <%= render partial: 'product_ad_box', locals: {product_ads: @expired_product_ads} %>
</div>
