<% companies.in_groups_of(3,false).each do |grouped| %>
<ul class="row">
  <% grouped.each do |company| %>
  <li class="ajax_block_product col-xs-6 col-sm-6 col-md-4 first_item_of_line first_item_of_tablet_line">
    <div class="inner_content clearfix">
      <div class="sale-box"><span class="before"></span><span class="after"></span><span class="on_sale title_shop"><%= truncate(company.city.name) %></span></div>
      <div class="product_image"><a href="<%= empresa_path(company) %>" title="<%= company.name %> em <%= company.city.name %>" class="product_image"><img src="<%= company.logo.url(:box) %>" alt="<%= company.name %> em <%= company.city.name %>" /></a></div>
      <div class="product_content text-center">
        <h3><%= company.name %></h3>
        <a class="btn btn-default view" href="<%= empresa_path(company) %>" title="Ver Empresa"><i class="icon-info-sign"></i> Ver Empresa</a>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<% end %>
