<% company_videos.each do |video_code| %>
<iframe type="text/html" width="100%" height="400"
  src="http://www.youtube.com/embed/<%=video_code%>?autoplay=0&origin=http://rotaempresarial.com.br"
  frameborder="0"></iframe>
  <hr />
<% end -%>
