<% content_for(:sidebar_left) do %>
<%= render partial: 'shared/company_categories' %>
<% end -%>
<div class="breadcrumb">
  <div class="breadcrumb_inset">
    <a class="breadcrumb-home" href="/" title="Retornar a página inicial"><i class="icon-home"></i></a>
    <span class="navigation-pipe">»</span>
    <span class="navigation_page"><a href="<%= guia_empresarial_path %>">Empresas para <%= current_city.name %></a></span>
    <span class="navigation-pipe">»</span>
    <span class="navigation_page"><%= @company.name %></span>
  </div>
</div>

<div id="primary_block" class="clearfix">
  <div class="row">
    <div id="pb-right-column" class="col-xs-12 col-sm-5">
      <h1 class="pb-right-colum-h"><%= @company.name %></h1>
      <!-- product img-->
      <div id="image-block">
        <span id="view_full_size">
          <div id="wrap" style="top:0px;z-index:auto;position:relative;"><a id="zoom1" rel="position: 'inside' , showTitle: false, adjustX:0, adjustY:0" class="cloud-zoom" href="<%= @company.logo.url(:big) %>" style="position: relative; display: block;">
            <img id="mousetrap_img" alt="<%= @company.name %>" width="106" height="106" title="<%= @company.name %>" src="<%= @company.logo.url(:big) %>" rel="<%= @company.logo.url(:big) %>" style="display: block;">
            <img id="bigpic" alt="<%= @company.name %>" title="<%= @company.name %>" src="<%= @company.logo.url(:big) %>" rel="<%= @company.logo.url(:big) %>" style="display: block;"><span class="mask"></span>
          </a><div class="mousetrap" style="background-image:url(&quot;.&quot;);z-index:999;position:absolute;width:104px;height:104px;left:0px;top:0px;"></div></div>
        </span>
      </div>

      <!-- thumbnails -->
      <div id="views_block">
          <a id="view_scroll_left" title="Mais imagens" href="javascript:{}" style="cursor: default; opacity: 0; display: none;">Voltar</a>

          <div id="thumbs_list">
            <ul id="thumbs_list_frame" style="width: 712px;">
              <% company_images(@company).each_with_index do |image, i| %>
              <li id="thumbnail_<%= i %>">
                <a href="<%= image.url(:big) %>" class="cloud-zoom-gallery" title="" rel="useZoom: 'zoom1', smallImage: '<%= image.url(:big) %>'">
                  <img id="thumb_<%= i %>" src="<%= image.url(:thumb) %>" alt="">
                </a>
              </li>
              <% end %>
            </ul>
          </div>
        <a id="view_scroll_right" title="Mais imagens" href="javascript:{}" style="cursor: pointer; opacity: 1; display: block;">Avançar</a>
      </div>
    </div>
    <!-- left infos-->
    <div id="pb-left-column" class="col-xs-12 col-sm-7">
      <h1><%= @company.name %></h1>
      <div id="short_description_block">
        <div class="rte align_justify">
        <%= @company.about.html_safe %>
        </div>
        <div class="rte align_justify">
          Responsável: <strong><%= @company.contact_name %></strong><br>
          Email: <strong><%= @company.email %></strong><br>
          Site: <strong><%= @company.site ? link_to(@company.site, @company.site, target: '_blank') : '-' %></strong><br>
          Telefone(s): <strong><%= [@company.contact_phone, @company.contact_mobile].reject{|t| t.blank? }.to_sentence %></strong><br />
          Endereço: <strong><%= simple_format @company.address.to_s %></strong>
        </div>
      </div>
      <div class="fb-like" style="margin-bottom:10px" data-href="<%= request.original_url %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
</div>

<% unless @company.map.blank? %>
<div class="well">
  <%= @company.map.html_safe %>
</div>
<% end -%>

<% unless @company.company_videos.blank? %>
<div class="main_page_products block">
  <h4><span>Vídeos disponíveis</span></h4>
  <%= render partial: 'company_video_box', locals: {company_videos: @company.company_videos} %>
</div>
<% end -%>
