<% content_for(:sidebar_left) do %>
<%= render partial: 'shared/company_categories' %>
<% end -%>
<div class="breadcrumb">
  <div class="breadcrumb_inset">
    <a class="breadcrumb-home" href="/" title="Retornar a página inicial"><i class="icon-home"></i></a>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page"><a href="<%= guia_empresarial_path %>">Empresas para <%= current_city.name %></a></span>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page">Área Atuação: <%= @company_category.name %></span>
  </div>
</div>
<div class="main_page_products block">
  <h4><span>Empresas em <u><%= @company_category.name %></u> na cidade <u><%= current_city.name %></u></span></h4>
  <%= render partial: 'company_box', locals: {companies: @companies} %>
</div>
