<% content_for(:sidebar_left) do %>
<%= render partial: 'shared/company_categories' %>
<% end -%>
<div class="main_page_products block">
  <h4><span>Empresas em Destaque para <u><%= current_city.name %></u></span></h4>
  <%= render partial: 'company_box', locals: {companies: @companies} %>
</div>
