<h1><span>Carrinho de cupons</span></h1>

<!-- Steps -->
<ul id="order_steps" class="step1 hidden-xs hidden-sm">
  <li class="step_current even">
    <span><span>Etapa 01</span> Carrinho</span>
  </li>
  <li class="step_todo odd">
    <span><span>Etapa 02</span> Login</span>
  </li>
  <li id="step_end" class="step_todo even">
    <span><span>Etapa 03</span> Pagamento</span>
  </li>
</ul>
<!-- /Steps -->

<% if cart.valid? %>
<p class="ordercart-title">
  Seu carrinho contem: <strong><%= cart.total_qty %> cupons</strong>
  de <strong><%= cart.product_ads.size %> produto(s)</strong>
</p>
<p id="loyalty">
  <i class="icon-money"></i> 
  Seus cupons só serão ativados depois que o pagamento for autorizado e mediante ao regulamento de cada oferta.
</p>
<div id="order-detail-content" class="table_block">
  <table id="cart_summary" class="std table">
    <thead>
    </thead>
    <tbody>
      <% cart.product_ads.each do |product_ad| %>
      <tr class="bordercolor last_itemfirst_item  cart_item odd">

        <td class="cart_product">
          <a href="<%=ofertas_detalhes_path(product_ad) %>">
            <img src="<%= product_ad.image.url(:box) %>" width="142" alt="<%= product_ad.title %>">
          </a>
        </td>
        <td class="cart">
          <h5><a class="product_link" href="<%=ofertas_detalhes_path(product_ad) %>"><%= product_ad.title %></a></h5>
          <div class="clearfix insset-bottom">
            <span class="title-th"><%= product_ad.company.name %></span></div>
            <div class="clearfix insset-bottom">
              <span class="title-th">Valor por Cupom:</span>
              <span class="price" id="product_price_2_0_0">
                <%= product_ad_price(product_ad) %>
              </span>
            </div>
            <div class="clearfix insset-bottom">
              <span class="title-th cart_quantity_title">Quantidade:</span>
              <div class="cart_quantity">
                <div id="cart_quantity_button" class="cart_quantity_button f_left">
                  <% if cart.qty_at(product_ad) > product_ad.minimum_per_client %>
                    <a rel="nofollow" class="cart_quantity_down" href="<%=carrinho_diminuir_path(product_ad.id)%>" title="Diminuir"><img src="/assets/icon/quantity_down.gif" alt="Diminuir" width="23" height="24" /></a>
                  <% else %>
                    <a rel="nofollow" class="cart_quantity_down" href="javascript:;" title="Diminuir"><img src="/assets/icon/quantity_down.gif" alt="Diminuir" width="23" height="24" /></a>
                  <% end %>
                  <input size="2" type="text" disabled="disabled" autocomplete="off" class="cart_quantity_input" value="<%= cart.qty_at(product_ad) %>" />
                  <% if cart.qty_at(product_ad) < product_ad.maximum_per_client %>
                    <a rel="nofollow" class="cart_quantity_up" href="<%=carrinho_adicionar_path(product_ad.id) %>" title="Acrescentar"><img src="/assets/icon/quantity_up.gif" alt="Acrescentar" width="23" height="24" /></a>
                  <% else %>
                    <a rel="nofollow" class="cart_quantity_up" href="javascript:;" title="Acrescentar"><img src="/assets/icon/quantity_up.gif" alt="Acrescentar" width="23" height="24" /></a>
                  <% end %>
                </div>

                <div class="div_cart_quantity_delete">
                  <a rel="nofollow" class="cart_quantity_delete" href="<%=carrinho_remover_path(product_ad.id) %>"><i class="icon-trash"></i></a>
                </div>
              </div>
            </div>
            <% if product_ad.oferta? %>
            <span class="title-th">Total:</span>
            <span class="price total-pr" id="total_product_price_2_0_0">
              <%= number_to_currency(cart.total_at(product_ad)) %>
            </span>
            <% end %>
          </td>
        </tr>
      <% end %>


    </tbody>

    <tfoot>
      <tr class="cart_total_price cart_last_tr">
        <td class="total_price_container" id="total_price_container">
          Total
        </td> 
        <td class="price" id="total_price"> 
          <%= number_to_currency(cart.total) %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<% else %>
  <div class="alert alert-warning">Você não possui nenhum cupom. <a href="<%= ofertas_disponiveis_path %>"><strong>Aproveite para ver as melhores ofertas!</strong></a></div>
<% end %>



<p class="cart_navigation  clearfix inner-top">
  <% if cart.valid? %>
  <a href="<%=carrinho_pagamento_path%>" class="exclusive btn btn-default standard-checkout" title="Avançar">Avançar »</a>
  <% end %>
  <a href="<%= ofertas_disponiveis_path %>" class="button_large btn btn-default" title="Continuar comprando">« Continuar comprando</a>
</p>

