<h1><span>Pagamento</span></h1>

<!-- Steps -->
<ul id="order_steps" class="step1 hidden-xs hidden-sm">
  <li class="even">
    <span><span>Etapa 01</span> Carrinho</span>
  </li>
  <li class="step_todo odd">
    <span><span>Etapa 02</span> Login</span>
  </li>
  <li id="step_end" class="step_current step_todo even">
    <span><span>Etapa 03</span> Pagamento</span>
  </li>
</ul>
<!-- /Steps -->


<p class="ordercart-title">
  Seu carrinho contem: <strong><%= cart.total_qty %> cupons</strong>
  de <strong><%= cart.product_ads.size %> produto(s)</strong>
</p>

<p id="loyalty">
  <i class="icon-money"></i> 
  Seus cupons só serão ativados depois que o pagamento for autorizado e mediante ao regulamento de cada oferta.
</p>

<div id="order-detail-content" class="table_block">
  <table id="cart_summary" class="std table">
    <thead>
      <tr>
        <th width="84"></th>
        <th>Oferta</th>
        <th>Anunciante</th>
        <th>Valor sem Desconto</th>
        <th>Desconto</th>
        <th>Número de Cupons</th>
        <th>Valor Unitário</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>

      <% cart.product_ads.each do |product_ad| %>
        <tr class="bordercolor last_itemfirst_item  cart_item odd">
          <td>
            <a href="<%= ofertas_detalhes_path(product_ad) %>">
              <img src="<%= product_ad.image.url(:thumb) %>" width="76" alt="<%= product_ad.title %>">
            </a>
          </td>
          <td class="cart"><h5><a class="product_link" href="<%= ofertas_detalhes_path(product_ad) %>"><%= product_ad.title %></a></h5></td>
          <td><%= product_ad.company.name %></td>
          <td class="line-through">
            <% if product_ad.oferta? %>
              <%= number_to_currency(product_ad.real_price, precision: 2) %>
            <% else %>
              Vale cupom
            <% end %>
          </td>
          <td>
            <% if product_ad.oferta? %>
              <%= number_to_percentage(product_ad.discount, precision: 2) %>
            <% else %>
              -
            <% end %>
          </td>
          <td><%= cart.qty_at(product_ad) %></td>
          <td>
            <% if product_ad.oferta? %>
              <%= number_to_currency(product_ad.special_price) %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="price">
            <% if product_ad.oferta? %>
              <%= number_to_currency(cart.total_at(product_ad)) %>
            <% else %>
              Vale Cupom
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr class="cart_total_price cart_last_tr">
        <td colspan="6"></td>
        <td>Forma de pagamento</td>
        <td>PagSeguro UOL</td>
      </tr>
      <tr class="cart_total_price cart_last_tr">
        <td colspan="6"></td>
        <td>Total</td>
        <td>
          <%= number_to_currency(cart.total) %>
        </td>
      </tr>
    </tfoot>
  </table>
  <p class="ordercart-title">
    Ao clicar no botão abaixo você será redirecionado para um ambiente seguro de pagamentos da PagSeguro - UOL.
  </p>
  <p class="text-center"><%=link_to '<i class="icon-shopping-cart"></i> Efetuar pagamento'.html_safe, carrinho_efetuar_pagamento_path, method: :post, class: "button_large btn btn-default" %></p>
</div>

<p class="cart_navigation  clearfix inner-top">
  <a href="<%= carrinho_path %>" class="button_large btn btn-default" title="Voltar ao carrinho de cupons">« Voltar ao carrinho de cupons</a>
</p>

