<% unless @pending_product_ad_orders.blank? %>
  <div class="well">
    <div class="row">
      <div class='std col-xs-12 col-sm-12'>
        <fieldset class="titled_box">
          <h2><span>Cupons aguardando confirmação do pagamento</span></h2>
          <div class="form_content clearfix">
            <table class="table table-striped table-condensed">
              <thead>
              <tr>
                <th width="90"></th>
                <th>Oferta</th>
                <th>Data da compra</th>
                <th>Vencimento do Uso</th>
                <th>Valor sem Desconto</th>
                <th>Desconto</th>
                <th>Valor pago pela Oferta</th>
                <th width="110"></th>
              </tr>
              </thead>
              <tbody>
                <% @pending_product_ad_orders.each do |product_ad_order| %>
                <tr>
                  <td><img src="<%= product_ad_order.product_ad.image.url(:thumb) %>" /></td>
                  <td><a href="javascript:;" data-toggle="modal" data-target="#product_ad_order_pending<%= product_ad_order.id %>"><%= product_ad_order.product_ad.title %></a></td>
                  <td><%= l product_ad_order.created_at %></td>
                  <td><%= l product_ad_order.end_use_at %></td>
                  <td class="line-through"><%= number_to_currency(product_ad_order.real_price) %></td>
                  <td><%= number_to_percentage(product_ad_order.discount, precision: 2) %></td>
                  <td>
                  <strong><a href="javascript:;" data-toggle="modal" data-target="#product_ad_order_pending<%= product_ad_order.id %>"><%= number_to_currency(product_ad_order.special_price) %></a></strong>
                  </td>
                  <td><a href="<%=ofertas_detalhes_path(product_ad_order.product_ad)%>" class="exclusive btn btn-default">ver oferta</a></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <% @pending_product_ad_orders.each do |product_ad_order| %>
  <div class="modal fade" id="product_ad_order_pending<%= product_ad_order.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Detalhes da compra <u>#<%= product_ad_order.order.id %></u></h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-condensed table-bordered">
            <thead>
              <tr>
                <th>Pedido</th>
                <th>Data</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#<%= product_ad_order.order.id %></td>
                <td><%= l product_ad_order.order.created_at %></td>
                <td><%= number_to_currency(product_ad_order.order.total) %></td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th colspan="3" class="text-center">Ofertas do Pedido</th>
              </tr>
              <tr>
                <th></th>
                <th>Oferta</th>
                <th>Valor Pago</th>
              </tr>
            </thead>
            <tbody>
              <% product_ad_order.order.product_ad_orders.each do |_product_ad_order|%>
              <tr class="<%= 'warning' if _product_ad_order.id == product_ad_order.id %>">
                <td class="text-center"><img src="<%= _product_ad_order.product_ad.image.url(:thumb) %>" /></td>
                <td><%= _product_ad_order.product_ad.title %></td>
                <td><%= product_ad_price(_product_ad_order) %></td>
              </tr>
              <% end -%>
            </tbody>
            <thead>
              <tr>
                <th colspan="3" class="text-center">Informações do anunciante</th>
              </tr>
              <tr>
                <th>Nome</th>
                <th colspan="2">Endereço</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= product_ad_order.product_ad.company.name %></td>
                <td colspan="2"><%= simple_format product_ad_order.product_ad.company.address %></td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th colspan="3" class="text-center">Informações de Pagamento</th>
              </tr>
              <tr>
                <th>Meio de Pagamento</th>
                <th>Forma de Pagamento</th>
                <th>Código PagSeguro</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>PagSeguro UOL</td>
                <% if product_ad_order.order.order_transaction && product_ad_order.order.order_transaction.payment_method %>
                <td>
                  <%= product_ad_order.order.order_transaction.payment_method.titleize %>
                </td>
                <td><%= product_ad_order.order.order_transaction.code %></td>
                <% else %>
                <td>Pendente</td>
                <td>-</td>
                <% end -%>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
