<div class="breadcrumb">
  <div class="breadcrumb_inset">
    <a class="breadcrumb-home" href="/" title="Retornar a página inicial"><i class="icon-home"></i></a>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page"><a href="/minha-conta">Minha conta</a></span>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page">Meus cupons</span>
  </div>
</div>

<h1><span>Meus cupons</span></h1>

<p class="ordercart-title">
  Clique no <u>Cupom</u> ou no <u>Valor pago pela Oferta</u> para obter detalhes do pagamento do mesmo.
</p>

<%= render partial: "coupons_approved" %>
<%= render partial: "coupons_pending" %>
<%= render partial: "coupons_expired" %>
