<div class="breadcrumb">
  <div class="breadcrumb_inset">
    <a class="breadcrumb-home" href="/" title="Retornar a página inicial"><i class="icon-home"></i></a>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page"><a href="<%= minha_conta_path %>">Minha conta</a></span>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page">Cupons Encerrados</span>
  </div>
</div>

<h1><span>Cupons Encerrados</span></h1>

<p class="ordercart-title">
  Clique no <u>Cupom</u> ou no <u>Valor pago pela Oferta</u> para obter detalhes do pagamento do mesmo.
</p>

<div class="row">
  <div class='std col-xs-12 col-sm-12'>
    <fieldset class="titled_box">
      <div class="form_content clearfix">
        <table class="table table-striped table-condensed">
          <thead>
          <tr>
            <th>Cupom</th>
            <th>Oferta</th>
            <th>Data da compra</th>
            <th>Vencido em</th>
            <th>Situação</th>
            <th>Valor sem Desconto</th>
            <th>Desconto</th>
            <th>Valor pago pela Oferta</th>
          </tr>
          </thead>
          <tbody>
            <% unless @expired_product_ad_orders.blank? %>
              <% @expired_product_ad_orders.each do |product_ad_order| %>
              <tr>
                <td><strong><a href="javascript:;" data-toggle="modal" data-target="#order<%= product_ad_order.id %>"><%= product_ad_order.coupon %></a></strong></td>
                <td><a href="/ofertas/detalhes/<%= product_ad_order.product_ad_id %>"><%= product_ad_order.product_ad.title %></a></td>
                <td><%= product_ad_order.created %></td>
                <td><%= product_ad_order.end_use_at %></td>
                <td><%= product_ad_order.status %></td>
                <td class="line-through"><%= number_to_currency(product_ad_order.real_price) %></td>
                <td><%= number_to_percentage(product_ad_order.percentage, precision: 2) %></td>
                <td><strong><a href="javascript:;" data-toggle="modal" data-target="#order<%= product_ad_order.id %>"><%= number_to_currency(product_ad_order.special_price) %></a></strong></td>
              </tr>
              <% end %>
            <% else %>
              <tr class="warning">
                <td colspan="8">Nenhum cupon encerrado</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </fieldset>
  </div>
</div>

<% unless @expired_product_ad_orders.blank? %>
  <% @expired_product_ad_orders.each do |product_ad_order| %>
  <div class="modal fade" id="order<%= product_ad_order.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Detalhes da compra para o cupom <u><%= product_ad_order.coupon %></u></h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-condensed">
            <thead>
            <tbody>
              <tr>
                <td class="col-md-4">Pedido</td>
                <td>#<%= product_ad_order.order.id %></td>
              </tr>
              <tr>
                <td>Data</td>
                <td><%= l product_ad_order.order.created %></td>
              </tr>
              <tr>
                <td>Total</td>
                <td>R$ <%= number_to_currency(product_ad_order.order.total) %></td>
              </tr>
              <tr>
                <td>Forma de pagamento</td>
                <td>PagSeguro UOL</td>
              </tr>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
