<h1><span>Minha conta</span></h1>

<div class="row">
  <div class='std col-xs-12 col-sm-6'>
    <fieldset class="titled_box">
      <h2><span>Dados pessoais</span></h2>
      <div class="form_content clearfix">
        <div class="row">
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Nome</label><br />
              <%= current_client.name %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Email</label><br />
              <%= current_client.email %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Telefone</label><br />
              <%= current_client.phone %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Celular</label><br />
              <%= current_client.mobile %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>CPF</label><br />
              <%= current_client.cpf %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>RG</label><br />
              <%= current_client.rg %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="titled_box">
      <h2><span>Dados privados</span></h2>
      <div class="form_content clearfix">
        <div class="row">
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Deseja receber nossas novidades por email?</label><br />
              <%= current_client.newsletter ? 'Sim' : 'Não' %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Termos de adesão aceitos</label><br />
              <a href="javascript:;" data-toggle="modal" data-target="#clientTerms">Clique aqui para ler</a>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="titled_box">
      <h2><span>Dados de endereço</span></h2>
      <div class="form_content clearfix">
        <div class="row">
          <div class="std col-xs-12 col-sm-12">
            <div class="form-group">
              <label>Endereço completo</label><br />
              <%= current_client.address %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Cidade</label><br />
              <%= current_client.address_city %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Estado</label><br />
              <%= current_client.address_state %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Bairro</label><br />
              <%= current_client.address_neighborhood %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-6">
            <div class="form-group">
              <label>CEP</label><br />
              <%= current_client.address_zipcode %>
            </div>
          </div>
          <div class="std col-xs-12 col-sm-12">
            <div class="form-group">
              <label>Cidade preferencial para ofertas</label><br />
              <%= current_client.city.name %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <p class="cart_navigation required submit form-group">
      <a href="<%=edit_client_registration_path%>" class="exclusive btn btn-default">Alterar meus dados</a>
    </p>
  </div>

  <div class='std col-xs-12 col-sm-6'>
    <fieldset class="titled_box">
      <h2><span>Últimos cupons aprovados</span></h2>
      <div class="form_content clearfix">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
          <tr>
            <th width="110"></th>
            <th width="110">Cupom</th>
            <th>Oferta</th>
            <th width="150">Vencimento do Uso</th>
          </tr>
          </thead>
          <tbody>
            <% unless @approved_product_ad_orders.blank? %>
              <% @approved_product_ad_orders.each do |product_ad_order| %>
              <tr>
                <td class="text-center"><img src="<%= product_ad_order.product_ad.image.url(:thumb) %>" /></td>
                <td><%= product_ad_order.coupon %></td>
                <td><a href="<%= ofertas_detalhes_path(product_ad_order.product_ad) %>"><%= product_ad_order.product_ad.title %></a></td>
                <td><%= l product_ad_order.end_use_at %></td>
              </tr>
              <% end %>
            <% else %>
              <tr class="warning">
                <td colspan="4">Nenhum cupon ativo</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p class="text-right"><%= link_to 'Ver todos', cupons_path, class: 'exclusive btn btn-default' %></p>
      </div>
    </fieldset>

    <% unless @pending_product_ad_orders.blank? %>
    <fieldset class="titled_box">
      <h2><span>Últimos cupons pendentes de pagamento</span></h2>
      <div class="form_content clearfix">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
          <tr>
            <th width="110"></th>
            <th>Oferta</th>
            <th width="150">Situação</th>
          </tr>
          </thead>
          <tbody>
            <% @pending_product_ad_orders.each do |product_ad_order| %>
            <tr>
              <td class="text-center"><img src="<%= product_ad_order.product_ad.image.url(:thumb) %>" /></td>
              <td><%= product_ad_order.product_ad.title %></td>
              <td>
                Aguardando Pagamento<br />
                Última atualização:<br />
                <strong><%= l product_ad_order.order.updated_at %></strong>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>

<%= render partial: "shared/site_terms" %>
