<h1>Lista de banners</h1>

<%= link_to 'Novo Banner', new_banner_path, class: 'btn btn-default' %>
<br>
<br>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Identificação</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td>
          <div class="row">
            <div class="col-sm-4">
              <%= banner.title %><br />
              <%= banner.url %><br />
              <%= banner.active ? 'Ativo' : 'Inativo' %><br />
              <%= banner.views %> visualizações<br />
              Início e Fim: <%= l banner.start_at %> a <%= l banner.end_at %>
            </div>
            <div class="col-sm-8">
              <%= image_tag banner.image.url, size: "600x115" %>
            </div>
          </div>
        </td>
        <td class="text-right">
          <div class="btn-group btn-group-xs">
            <%= link_to 'Detalhes', banner, class: 'btn btn-default' %>
            <%= link_to 'Editar', edit_banner_path(banner), class: 'btn btn-default' %>
            <%= link_to 'Apagar', banner, method: :delete, data: { confirm: 'Deseja prosseguir?' }, class: 'btn btn-default btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Banner', new_banner_path, class: 'btn btn-default' %>
