<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @banner.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @banner.url %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @banner.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @banner.end_at %>
</p>

<p>
  <strong>Active:</strong>
  <%= @banner.active %>
</p>

<p>
  <strong>Views:</strong>
  <%= @banner.views %>
</p>

<%= link_to 'Editar', edit_banner_path(@banner) %> |
<%= link_to 'Voltar', banners_path %>
