<li class="divider-vertical"></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Admin <b class="caret"></b></a>

  <ul class="dropdown-menu">
  <!--
    <li class="dropdown-submenu">
      <a href="#">Administrar Pedidos</a>
      <ul class="dropdown-menu">
        <li><a href="<%= orders_path %>">Todos os pedidos</a></li>
        <li><a href="<%= approved_orders_path %>">Pedidos Aprovados</a></li>
        <li><a href="<%= pending_orders_path %>">Pedidos Pendentes</a></li>
        <li><a href="<%= cancelled_orders_path %>">Pedidos Cancelados</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="#">Administrar Transações</a>
      <ul class="dropdown-menu">
        <li><a href="<%= order_transactions_path %>">Todas as Transações</a></li>
        <li><a href="<%= lost_order_transactions_path %>">Transações Perdidas</a></li>
      </ul>
    </li>
    <li><a href="<%=product_ads_path%>">Administrar Ofertas</a></li>
    <li><a href="<%=product_ad_images_path%>">Administrar Imagens de Ofertas</a></li>
    <li><a href="<%=admin_clients_path%>">Administrar Clientes</a></li>
    -->
    <li><a href="<%=companies_path%>">Administrar Anunciantes</a></li>
    <li><a href="<%=inactives_companies_path%>">Administrar Anunciantes Inativos</a></li>
    <li><a href="<%=company_categories_path%>">Administrar Categorias de Anunciantes</a></li>
    <li><a href="<%=banners_path%>">Administrar Banners</a></li>
    <li><a href="<%=advertisements_path%>">Administrar Banners Anúncios</a></li>
    <li><a href="<%=pages_path%>">Administrar Páginas Estáticas</a></li>
    <li><a href="<%=cities_path%>">Administrar Cidades</a></li>
    <li><a href="<%=site_terms_path%>">Administrar Regras Gerais</a></li>
    <li><a href="<%=destroy_admin_session_path%>">Sair da administração</a></li>
  </ul>
</li>
