<div id="minic_slider" class="theme-default">
  <div id="slider" class="nivoSlider" style="display:inline-block;">
    <% @master_advertisements.each do |advertisement| %>
      <%=link_to image_tag(advertisement.image.url(:master), class: :slider_image, title: "#htmlcaption_#{advertisement.id}").html_safe,
      banner_url(advertisement) %>
    <% end %>
  </div>
  <% @master_advertisements.each do |advertisement| %>
  <div id="htmlcaption_<%= advertisement.id %>" class="nivo-html-caption">
    <h3></h3>
    <p>
      <h2><%= advertisement.title %></h2>
      <% unless advertisement.is_a?(ProductAd) %>
      <p class="banner_content"><%= strip_tags advertisement.description %></p>
      <% end -%>
    </p>
  </div>
  <% end %>
</div>

<script type="text/javascript">
$(document).on("page:load ready", function(){
  $('#slider').nivoSlider({
    effect: 'boxRandom',
    slices: 15,
    boxCols: 8,
    boxRows: 4,
    animSpeed: 500,
    pauseTime: 7000,
    startSlide: 0,
    directionNav:true,
    controlNav: true,
    controlNavThumbs: false,
    pauseOnHover: true,
    manualAdvance: false,
    prevText: 'Ant',
    nextText: 'Próx',
    randomStart: false,
    afterLoad:function() {
      var hidden = 1
      if (hidden == 0) {
        $('body').find('#slider .nivo-directionNav').hide();
      }
      $("#slider").swipe({
        swipeLeft:function(event, phase, direction, distance){
          $('body').find('#slider a.nivo-nextNav').trigger('click');
        },
        swipeRight:function(event, phase, direction, distance){
          $('body').find('#slider a.nivo-prevNav').trigger('click');
        },
        triggerOnTouchEnd:false,
        threshold:100
      });
    }
  });
});
</script>
<% unless using_mobile? %>
<div id="htmlcontent_top">
  <ul class="htmlcontent-top row">
    <% @smaller_advertisements.each do |advertisement| %>
    <li class="htmlcontent-item col-xs-4 col-md-12">
      <div>
        <a href="<%= banner_url(advertisement) %>" class="item-link">
          <img src="<%= advertisement.image.url(:small) %>" class="item-img" />
          <% unless advertisement.html_description.blank? %>
          <div class="item-html">
            <div class="banner_container1">
              <%= advertisement.html_description.html_safe %>
            </div>
          </div>
          <% end -%>
        </a>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<% end -%>
