<% unless using_mobile? %>
  <% if banner_at_top %>
    <a class="container" href="<%= banner_at_top.url %>" title="<%= banner_at_top.title %>" id="topBanner" target="_blank"><img alt="<%= banner_at_top.title %>" src="<%= banner_at_top.image.url %>" width="600" height="114" /></a>
  <% else %>
    <a class="container" href="/contato" id="topBanner"><div>Anuncie aqui! Clique aqui e entre em contato conosco</div></a>
  <% end %>
<% end -%>
