<div class="modal fade" id="changePassword" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Trocar senha - Informe a nova senha</h4>
      </div>
      <%= form_for(current_client, url: client_registration_path, html: { method: :put, id: 'ClientChangePasswordForm' }) do |f| %>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="required form-group">
              <%= f.label :password %>
              <%= f.text_field :password, class: 'form-control', id: 'ChangeClientPassword', type: :password %>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="required form-group">
              <%= f.label :password_confirmation %>
              <%= f.text_field :password_confirmation, class: 'form-control', id: 'ChangeClientPassword', type: :password %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12">
            <div class="required form-group">
              <%= f.label :current_password %>
              <%= f.text_field :current_password, class: 'form-control', id: 'ChangeClientPassword', type: :password %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default btn-primary" id="btnChangePassword">Trocar senha</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
