<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Empresas em <%= current_city.name %> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <% all_cities.each do |city| %>
      <% if current_city.id == city.id %>
      <li class="active">
        <a href="/guia-empresarial"><%= city.name %></a>
      </li>
      <% else %>
      <li>
        <a href="<%= trocar_cidade_path(city) %>" title="<%= city.name %>">
          <%= city.name %>
        </a>
      </li>
      <% end %>
    <% end %>
  </ul>
</li>
