<div id="left_column" class="col-xs-12 col-sm-3 column">

  <!-- Block categories module -->
  <section  id="categories_block_left"  class="column_box block">
    <h4><span>Áreas de atuações</span><i class="column_icon_toggle icon-plus-sign"></i></h4>
    <ul class="toggle_content tree dhtml">

      <% company_categories.each_with_index do |company_category, i| %>
      <li class="<%= 'last' if i == (company_categories.count - 1) %>">
        <a href="<%= empresas_por_area_atuacao_path(company_category) %>"  title="<%= company_category.name %>"><%= company_category.name %> (<%=company_category.companies.count%>)</a>
      </li>
      <% end -%>
    </ul>

    <script type="text/javascript">
    // <![CDATA[
      // we hide the tree only if JavaScript is activated
      $('div#categories_block_left ul.dhtml').hide();
    // ]]>
    </script>
  </section>
</div>
