<% unless using_mobile? %>
<section class="header-box blockpermanentlinks-header">
  <ul id="header_links">
    <li><a class="header_links_home" href="/">Página Inicial</a></li>
    <li><a class="guia-empresarial" href="<%=guia_empresarial_path%>" title="Guia Empresarial">Guia Empresarial</a></li>
    <li><a class="anuncie-conosco" href="<%=pagina_path('anuncie-conosco')%>" title="Anuncie Conosco">Anuncie Conosco</a></li>
    <li><a class="contato" href="/contato" title="Contato">Contato</a></li>
  </ul>
</section>
<% end -%>
