<li class="divider-vertical"></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <%= current_client.name %> <b class="caret"></b></a>

  <ul class="dropdown-menu">
    <li class="active"><a href="javascript:;"><%= current_client.email %></a></li>
    <li class="divider"></li>
    <li><a href="<%=minha_conta_path%>">Minha conta</a></li>
    <li><a href="<%= cupons_path %>">Meus cupons</a></li>
    <% if company_signed_in? %>
      <li><a href="<%=painel_controle_path %>">Painel de Controle</a></li>
    <% end %>
    <li class="divider"></li>
    <li><a href="<%=destroy_client_session_path%>">Sair da minha conta</a></li>
  </ul>
</li>
