<% product_ads.in_groups_of(4,false).each do |grouped| %>
<ul class="row">
  <% grouped.each do |product_ad| %>
  <li class="ajax_block_product col-xs-6 col-sm-6 col-md-3 first_item_of_line first_item_of_tablet_line">
    <div class="inner_content clearfix">
      <% unless defined?(show_city) %>
        <% if product_ad.newer? %>
        <div class="sale-box"><span class="before"></span><span class="after"></span><span class="on_sale title_shop">Novidade!</span></div>
        <% end %>

        <% if product_ad.ending? %>
        <div class="new-box"><span class="before"></span><span class="after"></span><span class="new">Encerrando!</span></div>
        <% end %>

        
      <% else %>
        <div class="sale-box"><span class="before"></span><span class="after"></span><span class="on_sale title_shop"><%= truncate(product_ad.city.name) %></span></div>
      <% end -%>
      <div class="product_image"><a href="<%= ofertas_detalhes_path(product_ad) %>" title="<%= time_ago_in_words(product_ad.end_at) %> para finalizar" class="product_image"><img src="<%= product_ad.image.url(:box) %>" alt="<%= time_ago_in_words(product_ad.end_at) %> para finalizar" /></a></div>
      <div class="product_content">
        <% if product_ad.can_be_sold? %>
        <h5 class="countdown text-center alert alert-warning" data-end-at="<%= product_ad.end_at.to_s(:db) %>"></h5>
        <% end -%>
        <div class="inner_content1">
          <h5><a class="product_link" href="<%= ofertas_detalhes_path(product_ad) %>" title="<%= number_to_percentage(product_ad.discount, precision: 2) %> de desconto"><%= product_ad.title %></a></h5>
          <p class="price_container"><span class="price"><%= product_ad_price(product_ad) %></span></p>
        </div>
        <a class="button btn btn-default view" href="<%= ofertas_detalhes_path(product_ad) %>" title="Ver Oferta"><i class="icon-info-sign"></i></a>
        <% if product_ad.can_be_sold? %>
        <a class="exclusive btn btn-default ajax_add_to_cart_button btn_add_cart" href="<%=carrinho_adicionar_path(product_ad) %>" title="Adicionar Oferta"><span></span></a>
        <% end -%>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<% end %>
