<% if current_page?(root_path) && !client_signed_in? && !show_advertisement %>
<% close_advertisement %>
<nav class="navbar navbar-default navbar-fixed-bottom hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <%= form_tag new_client_registration_path, method: :get do %>
      <div class="std col-xs-12 col-sm-12">
        <fieldset class="titled_box">
          <h2>Receba Ofertas Exclusivas <span class="pull-right"><i class="icon-minus-sign"></i> <a href="javascript:;" id="btnCloseNavFooter">Fechar</a></span></h2>
        </fieldset>
      </div>
      <div class="std col-xs-12 col-sm-12">
        <fieldset class="account_creation titled_box">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <%= label_tag :email %>
                <%= text_field_tag :email, '', autocomplete: "off",  class: "form-control" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="required form-group">
                <div class="input select required">
                  <label>&nbsp;</label>
                  <!-- <a href="" class="btn btn-default form-control">Cadastre-se</a> -->
                  <button type="submit" class="form-control btn btn-default">
                    <i class="icon-user"></i> Cadastre-se
                  </button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <% end %>
    </div>
  </div>
</nav>
<% end %>
