<section id="search_block_top" class="header-box">
  <%= form_tag resultado_busca_path, id: :searchbox, method: :get do %>
    <p>
      <label for="search_query_top">Buscar</label>
      <input class="search_query" type="text" id="search_query_top" name="q" value="" />
      <a href="javascript:;" id="btnSearch"><i class="icon-search"></i><span>Buscar</span></a>
    </p>
  <% end %>
</section>
