<%= form_for(@advertisement) do |f| %>
  <% if @advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertisement.errors.count, "error") %> impediram que as informações fossem salvas:</h2>

      <ul>
      <% @advertisement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-4">
    <img src="<%= @advertisement.image.url %>" />
  </div>
  <div class="col-sm-8">
    <div class="required form-group">
      <%= f.label :city_id %><br>
      <%= f.collection_select :city_id, City.all, :id, :name, {}, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="required form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="required form-group">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="required form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control', rows: 10 %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :html_description %><br>
      <%= f.text_area :html_description, class: 'form-control', rows: 10 %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :start_at %><br>
      <%= f.datetime_select :start_at, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :end_at %><br>
      <%= f.datetime_select :end_at, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :views %><br>
      <%= f.number_field :views, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :master %><br>
      <%= f.check_box :master, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :small %><br>
      <%= f.check_box :small, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :active %><br>
      <%= f.check_box :active, class: 'form-control' %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default' %>
<% end %>
