<h1>Lista de Banners Anúncios</h1>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Informações</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td>
          <div class="row">
            <div class="col-sm-4">
              <%= advertisement.city.name %><br />
              <%= advertisement.title %><br />
              <%= advertisement.url %><br />
              <%= l advertisement.start_at %> a <%= l advertisement.end_at %><br />
              <% if advertisement.master %>
              Banner central Grande <br />
              <% end -%>
              <% if advertisement.small %>
              Banner lateral Médio <br />
              <% end -%>
              <%= advertisement.views %> visualizações
            </div>
            <div class="col-sm-8">
              <%= image_tag advertisement.image.url, width: "370" %>
            </div>
          </div>
        </td>
        <td class="text-right">
          <div class="btn-group btn-group-xs">
            <%= link_to 'Detalhes', advertisement, class: 'btn btn-default' %>
            <%= link_to 'Editar', edit_advertisement_path(advertisement), class: 'btn btn-default' %>
            <%= link_to 'Apagar', advertisement, method: :delete, data: { confirm: 'Deseja prosseguir?' }, class: 'btn btn-default btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advertisement', new_advertisement_path %>
