<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @advertisement.city %>
</p>

<p>
  <strong>Title:</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @advertisement.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advertisement.description %>
</p>

<p>
  <strong>Html description:</strong>
  <%= @advertisement.html_description %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @advertisement.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @advertisement.end_at %>
</p>

<p>
  <strong>Master:</strong>
  <%= @advertisement.master %>
</p>

<p>
  <strong>Small:</strong>
  <%= @advertisement.small %>
</p>

<p>
  <strong>Views:</strong>
  <%= @advertisement.views %>
</p>

<%= link_to 'Editar', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Voltar', advertisements_path %>
