<table class="table table-striped table-condensed table-bordered dt">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Situação</th>
      <th>Cupons</th>
      <th>Total</th>
      <th>Última Atualização</th>
      <th>Data da Compra</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
  <% orders.each do |order| %>
    <tr class="<%= order_tr_class(order) %>">
      <td><%= order.id %></td>
      <td>
        <%= truncate order.client.name, length: 20 %><br />
        <%= order.order_transaction.try(:code) %>
      </td>
      <td><%= order.status.titleize %></td>
      <td>
        Pendentes: <%= order.product_ad_orders.pendente.count %><br />
        Aprovados: <%= order.product_ad_orders.aprovado.count %><br />
        Total: <%= order.product_ad_orders.count %>
      </td>
      <td><%= number_to_currency order.total %></td>
      <td><%= l(order.updated_at) %></td>
      <td><%= l order.created_at %></td>
      <td class="text-right">
        <div class="btn-group btn-group-xs">
          <%= link_to 'Detalhes', order, class: 'btn btn-default' %>

          <% if order.aprovado? %>
            <% unless order.all_used? %>
            <%= link_to 'Utilizar', use_all_order_path(order), class: 'btn btn-default' %>
            <% else %>
            <%= link_to 'Não utilizar', dont_use_all_order_path(order), class: 'btn btn-default' %>
            <% end %>
          <% elsif !order.cancelado? %>
            <%= link_to 'Aprovar', approve_order_path(order), class: 'btn btn-default' %>
          <% end -%>
          <% unless order.cancelado? %>
            <%= link_to 'Cancelar', cancel_order_path(order), class: 'btn btn-default btn-danger' %>
          <% end -%>
          <%= link_to 'Apagar', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
