<h1>Lista de Pedidos</h1>
<% if Order.pending.any? %>
<a href="<%= update_pending_orders_path %>" class="btn btn-default">Atualizar Manualmente Pedidos Pendentes (<%= Order.pending.count %>)</a><br /><br />
<% end -%>

<%= render partial: "orders_list", locals: {orders: @orders} %>
