<h1>Informações do pedido <u>#<%= @order.id %></u></h1>

<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <h4>Informações do pedido</h4>
      <p>
        Cliente:
        <%= @order.client.name %>
        <br />
        Email:
        <%= @order.client.email %>
        <br />
        Data da Compra:
        <span class="label label-default"><%= l @order.created_at %></span>
        <br />
        Situação:
        <span class="label label-default"><%= @order.status.titleize %></span>
        <br />
        Total de cupons:
        <span class="label label-default"><%= @order.product_ad_orders.count %></span>
        <br />
        Situação cupons:
        <span class="label label-default"><%= @order.product_ad_orders.pendente.count %> pendentes</span>
        <span class="label label-default label-success"><%= @order.product_ad_orders.aprovado.count %> aprovados</span>
        <br />
        Utilização cupons:
        <span class="label label-default"><%= @order.product_ad_orders.nao_utilizado.count %> não utilizados</span>
        <span class="label label-default label-success"><%= @order.product_ad_orders.utilizado.count %> utilizados</span>
        <br />
        Total do carrinho:
        <span class="label label-default"><%= number_to_currency @order.total %></span>
        <br />
        Total repasse:
        <span class="label label-default"><%= number_to_currency @order.product_ad_orders.aprovado.sum(:transfer_price) %></span>
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <h4>Informações da transação</h4>
      <% if @order.order_transaction %>
      <p>
        Código Transação:
        <span class="label label-default"><%= @order.order_transaction.code %></span>
        <br />
        Primeira operação:
        <span class="label label-default"><%= l @order.order_transaction.created_at %></span>
        <br />
        Última operação:
        <span class="label label-default"><%= l @order.order_transaction.updated_at %></span>
        <br />
        Situação:
        <span class="label label-default"><%= @order.order_transaction.payment_status.titleize %></span>
        <br />
        Método de pagamento:
        <span class="label label-default"><%= @order.order_transaction.payment_method.titleize %></span>
        <br />
        Taxas:
        <span class="label label-default"><%= number_to_currency @order.order_transaction.fee_amount %></span>
        <br />
        Valor bruto ao SELIGA (retorno do operador de pagamento):
        <span class="label label-default"><%= number_to_currency @order.order_transaction.net_amount %></span>
        <br />
        Valor líquido ao SELIGA (retorno do operador - total de repasse):
        <span class="label label-default"><%= number_to_currency(@order.order_transaction.net_amount - @order.product_ad_orders.aprovado.sum(:transfer_price)) %></span>
        <br>
        <a href="#" data-toggle="modal" data-target="#orderTransactionInfo ">Detalhes da última transação</a>
      </p>
      <% end -%>
    </div>
  </div>
</div>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>Oferta</th>
    <th>Situação</th>
    <th>Tipo</th>
    <th>Cupom</th>
    <th>Valor sem Desconto</th>
    <th>Valor Site</th>
    <th>Valor Repasse</th>
    <th>Desconto</th>
    <th>Utilização</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @order.product_ad_orders.each do |product_ad_order| %>
    <tr>
      <td><%= product_ad_order.product_ad.id %> - <%= product_ad_order.product_ad.title %></td>
      <td><%= product_ad_order.status.titleize %></td>
      <td><%= product_ad_order.product_type.titleize %></td>
      <td><%= product_ad_order.coupon %></td>
      <td><%= number_to_currency product_ad_order.real_price %></td>
      <td><%= number_to_currency product_ad_order.special_price %></td>
      <td><%= number_to_currency product_ad_order.transfer_price %></td>
      <td><%= number_to_percentage product_ad_order.discount, precision: 2 %></td>
      <td><%= l(product_ad_order.used_at) if product_ad_order.used_at %></td>
      <td class="text-right">
        <div class="btn-group btn-group-xs">
            <% if product_ad_order.aprovado? %>
              <% unless product_ad_order.utilizado? %>
              <%= link_to 'Utilizar', use_coupon_order_path(product_ad_order.order, product_ad_order_id: product_ad_order), class: 'btn btn-default' %>
              <% else %>
              <%= link_to 'Não utilizar', dont_use_coupon_order_path(product_ad_order.order, product_ad_order_id: product_ad_order), class: 'btn btn-default' %>
              <% end %>
            <% elsif !product_ad_order.cancelado? %>
              <%= link_to 'Aprovar', approve_coupon_order_path(product_ad_order.order, product_ad_order_id: product_ad_order), class: 'btn btn-default' %>
            <% end -%>
            <% unless product_ad_order.cancelado? %>
              <%= link_to 'Cancelar', cancel_coupon_order_path(product_ad_order.order, product_ad_order_id: product_ad_order), class: 'btn btn-default btn-danger' %>
            <% end -%>
          </div>
      </td>
    </tr>
    <% end -%>
  </tbody>
</table>

<%= link_to 'Voltar', orders_path, class: 'btn btn-default' %>

<% if @order.order_transaction %>
<div class="modal fade" id="orderTransactionInfo" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Resposta da última transação</h4>
      </div>
      <div class="modal-body">
        <section><%= @order.order_transaction.full_response %></section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<% end -%>
