<%= form_for(@page) do |f| %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> impediram que as informações fossem salvas:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :link %><br>
      <%= f.text_field :link, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :content %><br>
      <%= f.text_area :content, class: 'form-control ckeditor', rows: 6 %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default' %>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  $('#page_content').tinymce({
      // Location of TinyMCE script
      script_url              : '/lib/tiny_mce/tiny_mce.js',
      // General options
      theme                 : "advanced",
      plugins               : "autoresize,style,table,advhr,advimage,advlink,emotions,inlinepopups,preview,media,contextmenu,paste,fullscreen,noneditable,xhtmlxtras,template,advlist",
      // Theme options
      theme_advanced_buttons1       : "undo,redo,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect",
      theme_advanced_buttons2       : "forecolor,backcolor,|,cut,copy,paste,pastetext,|,bullist,numlist,link,image,media,|,code,preview,fullscreen",
      theme_advanced_buttons3       : "",
      theme_advanced_toolbar_location   : "top",
      theme_advanced_toolbar_align    : "left",
      theme_advanced_statusbar_location   : "bottom",
      theme_advanced_resizing       : false,
      font_size_style_values        : "8pt,10px,12pt,14pt,18pt,24pt,36pt",
      init_instance_callback        : function(){
          function resizeWidth() {
              document.getElementById(tinyMCE.activeEditor.id+'_tbl').style.width='100%';
          }
          resizeWidth();
          $(window).resize(function() {
              resizeWidth();
          })
      }
  });
})
</script>
