<h1>Lista de Páginas Estáticas</h1>

<%= link_to 'Nova Página Estática', new_page_path, class: 'btn btn-default' %>
<br>
<br>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Título</th>
      <th>Link</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.link %></td>
        <td class="text-right">
          <div class="btn-group btn-group-xs" data-no-turbolink>
            <%= link_to 'Detalhes', page, class: 'btn btn-default' %>
            <%= link_to 'Editar', edit_page_path(page), class: 'btn btn-default' %>
            <%= link_to 'Apagar', page, method: :delete, data: { confirm: 'Deseja prosseguir?' }, class: 'btn btn-default btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Página Estática', new_page_path, class: 'btn btn-default' %>
