<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @page.link %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<%= link_to 'Editar', edit_page_path(@page) %> |
<%= link_to 'Voltar', pages_path %>
