<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th width="80"></th>
      <th>Nome</th>
      <th>Email</th>
      <th>Categorias</th>
      <th>Acessos</th>
      <th>Vendido por</th>
      <th>Situação</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% companies.each do |company| %>
      <tr>
        <td><img src="<%= company.logo.url(:thumb) %>" /></td>
        <td>
          <%= company.name %><br />
          <%= company.city.name %> - <%= company.state %>
        </td>
        <td><%= company_contact(company) %></td>
        <td><%= company.company_categories.pluck(:name).to_sentence %></td>
        <td><%= company.views %></td>
        <td>
          <%= company.sold_by %><br />
          <%= number_to_currency company.sell_price %>
        </td>
        <td>
          <%= company_status(company) %>
        </td>
        <td class="text-right">
          <div class="btn-group btn-group-xs">
            <%= link_to 'Editar', edit_company_path(company), class: 'btn btn-default' %>
            <%= link_to 'Apagar', company, method: :delete, data: { confirm: 'Deseja prosseguir?' }, class: 'btn btn-default btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
