<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> impediram que as informações fossem salvas:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="main_page_products block">
  <ul class="row">
    <li class="ajax_block_product col-xs-6 col-sm-6 col-md-6 first_item_of_line first_item_of_tablet_line">
      <div class="inner_content clearfix">
        <div class="sale-box"><span class="before"></span><span class="after"></span><span class="on_sale title_shop">Logomarca</span></div>
        <div class="product_image"><a href="#" class="product_image"><img src="<%= @company.logo.url(:big) %>"  /></a></div>
      </div>
    </li>
    <li class="ajax_block_product col-xs-6 col-sm-6 col-md-6 first_item_of_line first_item_of_tablet_line">
      <div class="inner_content clearfix">
        <div class="sale-box"><span class="before"></span><span class="after"></span><span class="on_sale title_shop">Foto Principal</span></div>
        <div class="product_image"><a href="#" class="product_image"><img src="<%= @company.photo0.url(:big) %>"  /></a></div>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :state %><br>
      <%= f.text_field :state, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :city_id %><br>
      <%= f.collection_select :city_id, City.all, :id, :name, {}, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :document %><br>
      <%= f.text_field :document, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :site %><br>
      <%= f.text_field :site, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :sell_price %><br>
      <%= f.text_field :sell_price, class: 'form-control', placeholder: 'exemplo: 130' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :sold_by %><br>
      <%= f.text_field :sold_by, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :company_category_ids %><br>
      <%= f.collection_select :company_category_ids, CompanyCategory.all, :id, :name, {}, size: 10, multiple: true, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :address %><br>
      <%= f.text_area :address, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :contact_name %><br>
      <%= f.text_field :contact_name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="required form-group">
      <%= f.label :contact_phone %><br>
      <%= f.text_field :contact_phone, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="required form-group">
      <%= f.label :contact_mobile %><br>
      <%= f.text_field :contact_mobile, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :start_at %><br>
      <%= f.date_select :start_at, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :end_at %><br>
      <%= f.date_select :end_at, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :active %><br>
      <%= f.check_box :active, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4>Fotos</h4>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :logo %><br>
      <%= f.file_field :logo, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :photo0 %><br>
      <%= f.file_field :photo0, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :photo1 %><br>
      <%= f.file_field :photo1, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :photo2 %><br>
      <%= f.file_field :photo2, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :photo3 %><br>
      <%= f.file_field :photo3, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :photo4 %><br>
      <%= f.file_field :photo4, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :photo5 %><br>
      <%= f.file_field :photo5, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4>Vídeos</h4>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :video0 %><br>
      <%= f.text_field :video0, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :video1 %><br>
      <%= f.text_field :video1, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :video2 %><br>
      <%= f.text_field :video2, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :video3 %><br>
      <%= f.text_field :video3, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4>Textos</h4>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :about %><br>
      <%= f.text_area :about, class: 'form-control ckeditor', rows: 6 %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :map %><br>
      <%= f.text_area :map, class: 'form-control', rows: 6 %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default' %>
<% end %>


<script type="text/javascript">
$(document).ready(function(){
  $('#company_about').tinymce({
      // Location of TinyMCE script
      script_url              : '/lib/tiny_mce/tiny_mce.js',
      // General options
      theme                 : "advanced",
      plugins               : "autoresize,style,table,advhr,advimage,advlink,emotions,inlinepopups,preview,media,contextmenu,paste,fullscreen,noneditable,xhtmlxtras,template,advlist",
      // Theme options
      theme_advanced_buttons1       : "undo,redo,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect",
      theme_advanced_buttons2       : "forecolor,backcolor,|,cut,copy,paste,pastetext,|,bullist,numlist,link,image,media,|,code,preview,fullscreen",
      theme_advanced_buttons3       : "",
      theme_advanced_toolbar_location   : "top",
      theme_advanced_toolbar_align    : "left",
      theme_advanced_statusbar_location   : "bottom",
      theme_advanced_resizing       : false,
      font_size_style_values        : "8pt,10px,12pt,14pt,18pt,24pt,36pt",
      init_instance_callback        : function(){
          function resizeWidth() {
              document.getElementById(tinyMCE.activeEditor.id+'_tbl').style.width='100%';
          }
          resizeWidth();
          $(window).resize(function() {
              resizeWidth();
          })
      }
  });
})
</script>
