<h1>Editando Anunciante <u><%= @company.name %></u> em <u><%= @company.city.try(:name) %></u> com <u><%= @company.views %> acessos</u></h1>

<%= render 'form' %>
<%= link_to 'Voltar', companies_path %>
