<h1>Lista de Anunciantes</h1>

<%= link_to 'Novo Anunciante', new_company_path, class: 'btn btn-default' %>
<br />
<br />

<%= render partial: "companies_list", locals: {companies: @companies} %>

<br>

<%= link_to 'Novo Anunciante', new_company_path, class: 'btn btn-default' %>
