<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Document:</strong>
  <%= @company.document %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @company.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @company.contact_phone %>
</p>

<p>
  <strong>Contact mobile:</strong>
  <%= @company.contact_mobile %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<%= link_to 'Editar', edit_company_path(@company) %> |
<%= link_to 'Voltar', companies_path %>
