<h2>Enviado por: <u><%= @name %></u></h2>
<p>
Data: <u><%= l Time.now %></u><br />
Email: <u><%= @email %></u><br />
Assunto: <u><%= @subject %></u><br />
<% unless @company.blank? %>
  Empresa: <u><%= @company %></u><br />
<% end -%>
</p>
<div class="well">
  Mensagem<br />
  <blockquote class="blockquote-reverse"><%=simple_format(@message) %></blockquote>
</div>
