<%= form_for(@product_ad, html: {multipart: true}) do |f| %>
  <% if @product_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_ad.errors.count, "error") %> prohibited this product_ad from being saved:</h2>

      <ul>
      <% @product_ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-4">
    <img src="<%= @product_ad.image.url %>" />
  </div>
  <div class="col-sm-8">
    <div class="required form-group">
    <%= f.label :product_ad_id %><br>
    <%= f.collection_select :product_ad_id, ProductAd.where("id <> ?", @product_ad.id.to_i).only_masters.all, :id, :title, {include_blank: '-- Nenhuma --'}, class: 'form-control' %>
    <span class="help-block">* Usado para relacionar ofertas com várias opções e preços a uma oferta principal</span>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="required form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="required form-group">
    <%= f.label :company_id %><br>
    <%= f.collection_select :company_id, Company.all, :id, :name,{}, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="required form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control', rows: 8 %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :terms %><br>
    <%= f.text_area :terms, class: 'form-control', rows: 8 %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :start_at %><br>
    <%= f.date_select :start_at, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :end_at %><br>
    <%= f.date_select :end_at, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :start_use_at %><br>
    <%= f.date_select :start_use_at, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :end_use_at %><br>
    <%= f.date_select :end_use_at, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :real_price %><br>
    <%= f.text_field :real_price, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :special_price %><br>
    <%= f.text_field :special_price, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :transfer_price %><br>
    <%= f.text_field :transfer_price, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :minimum_per_client %><br>
    <%= f.number_field :minimum_per_client, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :maximum_per_client %><br>
    <%= f.number_field :maximum_per_client, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :views %><br>
    <%= f.number_field :views, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :product_type %><br>
    <%= f.select :product_type, options_for_select(ProductAd.product_types.collect { |s| [s[0].humanize, s[0]] }, selected: @product_ad.product_type), {}, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :is_hostel %><br>
    <%= f.check_box :is_hostel, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :use_in_holiday %><br>
    <%= f.check_box :use_in_holiday, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
    <%= f.label :active %><br>
    <%= f.check_box :active, class: 'form-control' %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default' %>
<% end %>


<script type="text/javascript">
$(document).ready(function(){
  $('#product_ad_description').tinymce({
      // Location of TinyMCE script
      script_url              : '/lib/tiny_mce/tiny_mce.js',
      // General options
      theme                 : "advanced",
      plugins               : "autoresize,style,table,advhr,advimage,advlink,emotions,inlinepopups,preview,media,contextmenu,paste,fullscreen,noneditable,xhtmlxtras,template,advlist",
      // Theme options
      theme_advanced_buttons1       : "undo,redo,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect",
      theme_advanced_buttons2       : "forecolor,backcolor,|,cut,copy,paste,pastetext,|,bullist,numlist,link,image,media,|,code,preview,fullscreen",
      theme_advanced_buttons3       : "",
      theme_advanced_toolbar_location   : "top",
      theme_advanced_toolbar_align    : "left",
      theme_advanced_statusbar_location   : "bottom",
      theme_advanced_resizing       : false,
      font_size_style_values        : "8pt,10px,12pt,14pt,18pt,24pt,36pt",
      init_instance_callback        : function(){
          function resizeWidth() {
              document.getElementById(tinyMCE.activeEditor.id+'_tbl').style.width='100%';
          }
          resizeWidth();
          $(window).resize(function() {
              resizeWidth();
          })
      }
  });

$('#product_ad_terms').tinymce({
      // Location of TinyMCE script
      script_url              : '/lib/tiny_mce/tiny_mce.js',
      // General options
      theme                 : "advanced",
      plugins               : "autoresize,style,table,advhr,advimage,advlink,emotions,inlinepopups,preview,media,contextmenu,paste,fullscreen,noneditable,xhtmlxtras,template,advlist",
      // Theme options
      theme_advanced_buttons1       : "undo,redo,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect",
      theme_advanced_buttons2       : "forecolor,backcolor,|,cut,copy,paste,pastetext,|,bullist,numlist,link,image,media,|,code,preview,fullscreen",
      theme_advanced_buttons3       : "",
      theme_advanced_toolbar_location   : "top",
      theme_advanced_toolbar_align    : "left",
      theme_advanced_statusbar_location   : "bottom",
      theme_advanced_resizing       : false,
      font_size_style_values        : "8pt,10px,12pt,14pt,18pt,24pt,36pt",
      init_instance_callback        : function(){
          function resizeWidth() {
              document.getElementById(tinyMCE.activeEditor.id+'_tbl').style.width='100%';
          }
          resizeWidth();
          $(window).resize(function() {
              resizeWidth();
          })
      }
  });
})
</script>
