<% unless product_ads.blank? %>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Id</th>
      <th>Anunciante</th>
      <th>Oferta pai</th>
      <th>Título</th>
      <th>Pedidos Feitos</th>
      <th>Intervalo para Compra</th>
      <th>Valor Site</th>
      <th>Tipo</th>
      <th>Visível no Site?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% product_ads.each do |product_ad| %>
      <tr>
        <td><%= product_ad.id %></td>
        <td><%= truncate product_ad.company.name, length: 20 %></td>
        <% if product_ad.product_ad %>
        <td alt="<%= product_ad.product_ad.title %>" title="<%= product_ad.product_ad.title %>"><%= truncate product_ad.product_ad.title, length: 20 %></td>
        <% else %>
        <td>-</td>
        <% end -%>
        <td alt="<%= product_ad.title %>" title="<%= product_ad.title %>"><%= truncate product_ad.title, length: 20 %></td>
        <td><%= product_ad.product_ad_orders.count %></td>
        <td>
          <%= l product_ad.start_at %> a
          <%= l product_ad.end_at %>
        </td>
        <td><%= number_to_currency product_ad.special_price %></td>
        <td><%= product_ad.oferta? ? 'Oferta' : 'Vale' %></td>
        <td><%= product_ad.can_be_sold? ? 'Sim' : 'Não' %></td>
        <td class="text-right">
          <div class="btn-group btn-group-xs" data-no-turbolink>
            <%= link_to 'Duplicar', duplicate_product_ad_path(product_ad), class: 'btn btn-default' %>
            <%= link_to 'Detalhes', product_ad, class: 'btn btn-default' %>
            <%= link_to 'Editar', edit_product_ad_path(product_ad), class: 'btn btn-default' %>
            <%= link_to 'Apagar', product_ad, method: :delete, data: { confirm: 'Deseja prosseguir?' }, class: 'btn btn-default btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end -%>
