<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @product_ad.company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product_ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_ad.description %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @product_ad.terms %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @product_ad.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @product_ad.end_at %>
</p>

<p>
  <strong>Start use at:</strong>
  <%= @product_ad.start_use_at %>
</p>

<p>
  <strong>End use at:</strong>
  <%= @product_ad.end_use_at %>
</p>

<p>
  <strong>Real price:</strong>
  <%= @product_ad.real_price %>
</p>

<p>
  <strong>Special price:</strong>
  <%= @product_ad.special_price %>
</p>

<p>
  <strong>Minimum per client:</strong>
  <%= @product_ad.minimum_per_client %>
</p>

<p>
  <strong>Maximum per client:</strong>
  <%= @product_ad.maximum_per_client %>
</p>

<p>
  <strong>Views:</strong>
  <%= @product_ad.views %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @product_ad.product_type %>
</p>

<p>
  <strong>Is hostel:</strong>
  <%= @product_ad.is_hostel %>
</p>

<p>
  <strong>Use in holiday:</strong>
  <%= @product_ad.use_in_holiday %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product_ad.active %>
</p>

<%= link_to 'Editar', edit_product_ad_path(@product_ad) %> |
<%= link_to 'Voltar', product_ads_path %>
