<div class="breadcrumb">
  <div class="breadcrumb_inset">
    <a class="breadcrumb-home" href="/" title="Retornar a página inicial"><i class="icon-home"></i></a>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page"><a href="/minha-conta">Minha conta</a></span>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page">Entrar</span>
  </div>
</div>

<h1><span>Minha conta</span></h1>

<div class="row">
  <%= form_tag new_client_registration_path, method: :get, class: 'std col-xs-12 col-sm-6' do %>
    <fieldset class="titled_box">
      <h2><span>Criar sua conta</span></h2>
      <div class="form_content clearfix">
        <p class="title_block">Preencha seu email para começar seu cadastro.</p>
        <div class="form-group">
          <%= label_tag :email %>
          <%= text_field_tag :email, '', autocomplete: "off",  class: "account_input form-control" %>
        </div>
        <p class="submit form-group">
          <input type="submit" id="SubmitCreate" class="button_large btn btn-default" value="Criar sua conta" />
        </p>
      </div>
    </fieldset>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'std col-xs-12 col-sm-6'}) do |f| %>
    <fieldset class="titled_box">
      <h2><span>Já possui uma conta?</span></h2>
      <div class="form_content clearfix">
        <p class="title_block">Entre com seus dados abaixo para prosseguir</p>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "Entre com seu email", autocomplete: "off",  class: "account_input form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "Entre com seu usuário", autocomplete: "off",  class: "account_input form-control" %>
        </div>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <div class="lost_password form-group">
          <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), title: "Recupere sua senha clicando aqui" %>
        </div>
        <% end -%>
        <p class="submit">
          <input type="submit" id="SubmitLogin" name="SubmitLogin" class="button btn btn-default" value="Acessar sua conta" />
        </p>

      </div>
    </fieldset>
  <% end %>
</div>
