<div id="featured-products_block_center" class="main_page_products block">
  <h4><span><u><%= @companies.count %></u> empresas para o termo <u><%= params[:q] %></u></span></h4>
  <%= render partial: 'company_box', locals: {companies: @companies} %>
</div>
