<%= form_for(@company_category) do |f| %>
  <% if @company_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_category.errors.count, "error") %> impediram que as informações fossem salvas:</h2>

      <ul>
      <% @company_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :company_ids %><br>
      <%= f.collection_select :company_ids, Company.all, :id, :name, {}, multiple: true, class: 'form-control', size: 10 %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default' %>
<% end %>
