<h1>Lista de Anunciantes</h1>

<%= link_to 'Nova Categoria de Anunciante', new_company_category_path, class: 'btn btn-default' %>
<br />
<br />

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Empresas</th>
      <th>Empresas Ativas</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @company_categories.each do |company_category| %>
      <tr>
        <td><%= company_category.name %></td>
        <td><%= company_category.companies.count %></td>
        <td><%= company_category.companies.actives.count %></td>
        <td class="text-right">
          <div class="btn-group btn-group-xs">
            <%= link_to 'Editar', edit_company_category_path(company_category), class: 'btn btn-default' %>
            <%= link_to 'Apagar', company_category, method: :delete, data: { confirm: 'Deseja prosseguir?' }, class: 'btn btn-default btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Categoria de Anunciante', new_company_category_path, class: 'btn btn-default' %>
