<h1><span>Cidades com ofertas</span></h1>

<% @cities.each do |city| %>
  <div class="well">
    <h3><%= city.name %></h3>
    <p>Empresas disponíveis: <u><%= city.companies.actives.count %></u></p>
    <%= simple_format city.description %>
  </div>
<% end %>
