<h2>Pedido: <u>#<%= @product_ad_order.order.id %></u></h2>
<p>
  <strong>Seu cupom foi cancelado as <%= l Time.now %></strong> por falta de pagamento ou confirmação do mesmo.
</p>

<div class="well">
  <h3>Oferta: <u><%=@product_ad_order.product_ad.title %></u></h3>
  <h3>Cupom cancelado: <u><%=@product_ad_order.coupon %></u></h3>
</div>

<p>
  --
  <br />
  Este email serve apenas para como notificação sobre o cupom cancelado,<br /><br />
  em qualquer dúvida não deixe de entrar em contato conosco.
</p>
