<h2>Pedido: <u>#<%= @product_ad_order.order.id %></u></h2>
<p>
  <strong>Seu cupom foi marcado como utilizado as <%= l @product_ad_order.used_at %></strong>
</p>

<div class="well">
  <h3>Oferta: <u><%=@product_ad_order.product_ad.title %></u></h3>
  <h3>Cupom: <u><%=@product_ad_order.coupon %></u></h3>
  <p>
    Endereço da oferta: <strong><a href="<%=ofertas_detalhes_url(@product_ad_order.product_ad) %>"><%=ofertas_detalhes_url(@product_ad_order.product_ad) %></a></strong>
  </p>
  <p>Descrição<br />
  <blockquote class="blockquote-reverse"><%= simple_format @product_ad_order.product_ad.description %></blockquote>
  </p>
  <p>Regulamento<br />
  <blockquote class="blockquote-reverse"><%= simple_format @product_ad_order.terms %></blockquote>
  </p>
</div>

<p>
  --
  <br />
  Este email serve apenas para como notificação sobre o cupom utilizado,<br /><br />
  em qualquer dúvida não deixe de entrar em contato conosco.
</p>
