<h2 class="heading">Seu pedido de ofertas foi realizado com sucesso!</h2>
<p>Você realizou uma compra de ofertas no site <a href="http://www.rotaempresarial.com.br">www.rotaempresarial.com.br</a>. Confira abaixo o resumo dos itens adquiridos.</p>

<h2>Pedido: <u>#<%= @order.id %></u></h2>
<p>
  Data: <u><%=l @order.created_at %></u><br />
  Total: <u><%=number_to_currency(@order.total) %></u><br />
  Forma de pagamento: <u>PagSeguro UOL</u>
</p>

<% @order.product_ad_orders.each do |product_ad_order| %>
  <div class="well">
    <h3>Oferta: <u><%=product_ad_order.product_ad.title %></u></h3>
    <p>
      URL da oferta: <strong><a href="<%=ofertas_detalhes_url(product_ad_order.product_ad) %>"><%=ofertas_detalhes_url(product_ad_order.product_ad) %></a></strong><br />
      Prazo de compra: <strong><%=l product_ad_order.start_at %></strong> a <strong><%=l product_ad_order.end_at %></strong><br />
      Tempo para utilização: <strong><%=l product_ad_order.start_use_at %></strong> a <strong><%=l product_ad_order.end_use_at %></strong><br />
      Final da promoção: <strong><%=l product_ad_order.end_at %></strong><br />
      <% if product_ad_order.oferta? %>
      Valor sem desconto: <strong>R$ <%=number_to_currency(product_ad_order.real_price) %></strong><br />
      Valor pago: <strong>R$ <%=number_to_currency(product_ad_order.special_price) %></strong><br />
      Desconto oferecido: <strong><%=number_to_currency(product_ad_order.discount) %>%</strong>
      <% else %>
      Valor pago: <strong>Vale cupom</strong>
      <% end -%>
    </p>
    <p>Descrição<br />
      <blockquote class="blockquote-reverse"><%= simple_format product_ad_order.product_ad.description %></blockquote>
    </p>
    <p>Regulamento<br />
      <blockquote class="blockquote-reverse"><%= simple_format product_ad_order.terms %></blockquote>
    </p>
    <hr />
  </div>
<% end -%>
<p>
  <strong><em>Importante: as informações acima são referentes ao momento da compra.
  Caso haja alguma mudança de regulamento, esta NÃO afetará seu pedido.
  A empresa Rota Empresarial acredita que seus clientes devem ter direito ao que compraram e as normas que lhes foram entregues.</em></strong>
</p>

<p>
  --
  <br />
  Agradecemos a preferência,<br /><br />
  em qualquer dúvida não deixe de entrar em contato conosco.
</p>
