<h2 class="heading">Seu pedido de ofertas foi cancelado.</h2>

<h2>Pedido: <u>#<%= @order.id %></u></h2>
<p>
  Data de cancelamento: <u><%=l Time.now %></u><br />
  Total: <u><%=number_to_currency(@order.total) %></u><br />
  Forma de pagamento: <u>PagSeguro UOL</u><br />
  Motivo de cancelamento: <u>Falta de pagamento ou não confirmação do mesmo</u>
</p>

<p>
  Em breve você receberá por email todos os cupons de ofertas que foram cancelados.
</p>

<p>
  --
  <br />
  Este email serve apenas para como notificação sobre o cupom cancelado,<br /><br />
  em qualquer dúvida não deixe de entrar em contato conosco.
</p>
