<%= form_for(@product_ad_image) do |f| %>
  <% if @product_ad_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_ad_image.errors.count, "error") %> prohibited this product_ad_image from being saved:</h2>

      <ul>
      <% @product_ad_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-4">
    <img src="<%= @product_ad_image.image.url %>" />
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :product_ad_id %><br>
      <%= f.collection_select :product_ad_id, ProductAd.all, :id, :title, {}, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
</div>
<% end %>
