<h1>Lista de Imagens de Ofertas</h1>

<%= link_to 'Nova imagem de oferta', new_product_ad_image_path, class: 'btn btn-default' %>
<br />
<br />

<div id="featured-products_block_center" class="main_page_products block">
<% @product_ad_images.in_groups_of(4,false).each do |grouped| %>
<ul class="row">
  <% grouped.each do |product_ad_image| %>
  <li class="ajax_block_product col-xs-6 col-sm-6 col-md-3 first_item_of_line first_item_of_tablet_line">
    <div class="inner_content clearfix">
      <div class="product_image"><a href="edit_product_ad_image_path(product_ad_image)" class="product_image"><img src="<%= product_ad_image.image.url(:box) %>" /></a></div>
      <div class="product_content text-center">
        <%= product_ad_image.product_ad.title %><br />
        <div class="btn-group btn-group-xs">
          <a class="btn btn-default" href="<%= edit_product_ad_image_path(product_ad_image)%>" title="Alterar imagem"><span>Alterar imagem</span></a>
          <%= link_to '<span>Apagar</span>'.html_safe, product_ad_image, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<% end -%>
</div>

<br>

<%= link_to 'Nova imagem de oferta', new_product_ad_image_path, class: 'btn btn-default' %>
