<p id="notice"><%= notice %></p>

<p>
  <strong>Product ad:</strong>
  <%= @product_ad_image.product_ad %>
</p>

<%= link_to 'Editar', edit_product_ad_image_path(@product_ad_image) %> |
<%= link_to 'Voltar', product_ad_images_path %>
