<%= form_for(@city) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> impediram que as informações fossem salvas:</h2>

      <ul>
      <% @city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control ckeditor', rows: 6 %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default' %>
<% end %>
