<h1>Lista de Cidades</h1>

<%= link_to 'Nova Cidade', new_city_path, class: 'btn btn-default' %>
<br><br>


<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td class="text-right">
          <div class="btn-group btn-group-xs" data-no-turbolink>
            <%= link_to 'Detalhes', city, class: 'btn btn-default' %>
            <%= link_to 'Editar', edit_city_path(city), class: 'btn btn-default' %>
            <%= link_to 'Apagar', city, method: :delete, data: { confirm: 'Deseja prosseguir?' }, class: 'btn btn-default btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Cidade', new_city_path, class: 'btn btn-default' %>
