<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<%= link_to 'Editar', edit_city_path(@city) %> |
<%= link_to 'Voltar', cities_path %>
