#page{
  margin-top: 40px;
}

#login-at-top input[type=text], #login-at-top input[type=password]{
  margin: 0px;
  height: 24px;
  line-height: 24px;
  padding: 0px 10px 0px 10px;
  border: 1px solid #fff;
  font-size: 11px;
  width: 130px;
}

#login-at-top .btn-default{
  border: 1px solid #fff;
  height: 24px;
  line-height: 24px;
  padding: 0px 10px;
}

#login-at-top .form-group a.btn, #login-at-top .form-group a{
  color: #fff;
}

#login-at-top .form-group{
  margin-top: 8px;
}

#login-at-top form{
  margin:0px;
}

#header #header_logo {
  top: 6px;
}
.blockpermanentlinks-header {
  top: 146px;
}

#search_block_top {
  top: 154px;
}

#header #header_right {
  padding: 194px 0px 0px 0px;
}


#languages_block_top{
  top: 0px;
  right: 290px;
  border-top: 0
}



#currencies_block_top p.inner-carrencies, #languages_block_top p, .mobile-link-top h4 {
text-transform: none;
}


#languages_block_top .selected_language:hover{
  color: #c40000;
}


.blockcontactinfos ul li.company_email {
  display: list-item;
}



.bottom_footer {
  top: 190px;
  right: 0;
  width: 100%;
  text-align: right;
}

.page_wrapper_3 {
  padding-bottom: 56px;
}


.htmlcontent-top li h4 {
font-size: 30px;
line-height: 35px;
margin-top:75px;
}



.blockpermanentlinks-header #header_links {
border-bottom: 4px solid #c40000;
}


#header_links li a:hover, body#index a.header_links_home, #sitemap a.header_links_sitemap, #contact a.header_links_contact, #cms a.header_links_delivery, #stores a.header_links_store {
  color: #c40000;
}


.cake-sql-log{
  width: 90%;
  margin: 0 auto;
}
.cake-sql-log th{
  background: #d4d4d4;
}
.cake-sql-log td{
  font-family: Courier
}
.cake-sql-log th, .cake-sql-log td{
  border: 1px solid #000;
  padding: 4px;
}


#languages_block_top p {
  padding: 11px 15px 10px 19px;
}


.list_header {
  top: 39px;
}

#index #header {
  padding-bottom: 12px;
}

.main_page_products li.first_item_of_line {
 clear: none;
}



h1, .center_column .block h4 {
  background: #c40000;
}


input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.button_mini, a.button_small, a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
  background: #c40000;
}


#search_block_top a {
  color: #c40000;
}



.btn-primary{
  border-color: #c94300;
  background: #c40000;
  color: #FCEBBB !important;
}


.btn-primary:hover, .btn-primary:focus,.btn-primary:active,.btn-primary.active{
  border-color: #c94300;
  background: #c40000;
  color: #fff !important;
}





#header_links li a:hover, body#index a.header_links_home,
#ofertas-disponiveis a.ofertas-disponiveis,
#resultado-busca a.ofertas-disponiveis,
#usuarios-registro-criar-conta a.minha-conta,
#usuarios-entrar a.minha-conta,
#minha-conta a.minha-conta,
#cupons-encerrados a.minha-conta,
#guia-empresarial a.guia-empresarial,
#paginas-anuncie-conosco a.anuncie-conosco,
#administrar-cupons a.minha-conta,
#entrar a.minha-conta,
#criar-conta a.minha-conta,
#meus-dados a.minha-conta,
#cupons a.minha-conta,
#contato a.contato, #cms a.header_links_delivery, #stores a.header_links_store {
  color: #c40000;
}

#header_links li a{
  padding: 12px 27px 12px 27px;
}


div.checkbox{
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.checkbox-inline {
  /*padding-left: 3px;*/
}

.checkbox-inline label{
  margin-left: 10px;
}


label.error {
  /* remove the next line when you have trouble in IE6 with labels in list */
  color: red;
  font-size:11px;
}

#error_explanation{
  color: red
}
#error_explanation h2{
  margin-top: 0px
}

.navbar-default{
  /*background-color: #EC1B23;*/
  background-color: #7e1819
}

.navbar-fixed-top{
  border-color: #fff;
}

.navbar-fixed-bottom{
  border-top: 1px solid #fff;
}

.navbar-fixed-bottom label, .navbar-fixed-bottom h2{
  color: #fff;
}

.navbar-fixed-bottom .titled_box h2 a{
  color: #fff;
}

.navbar-fixed-bottom .titled_box a{
}

.navbar-fixed-bottom h2{
  border-bottom-color: #fff;
}



.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
color: #fff;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: #fff;
  color: #c40000;
}

.dropdown-menu>.active>a{
  font-weight: bold;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
background-color: #fff;
text-decoration: none;
}


.dropdown-menu {
border: 1px solid #fff;
}


.navbar-default .navbar-nav>.dropdown>a .caret, .navbar-default .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>.dropdown>a:focus .caret {
border-top-color: #777;
border-bottom-color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
  text-decoration: underline;
}


input:-webkit-autofill {
  color: #fff !important;
}

.dropdown-menu li > a {
  padding: 3px 10px 3px 10px;
}
.dropdown-menu .divider {
  margin: 4px 0;
}


.divider-vertical {
height: 20px;
margin: 10px 0px;
border-right: 1px solid #FFF;
}


.navbar {
min-height: 40px;
}

.navbar-brand {
padding: 10px 15px;
}


.navbar-nav>li>a {
padding-top: 10px;
padding-bottom: 10px;
}



.badge {
color: #c40000;
background-color: #fff;
}


#lnkCartTop:hover{
  text-decoration: none
}

.bottom_footer a, .blockcontactinfos ul li.company_phone, .blocksocial li.twitter a:before, .blocksocial li.facebook a:before, .blocksocial li.rss a:before, footer .block a:hover {
  color: #c40000;
}


.row_1 p#quantity_wanted_p input {
  height: 32px;
  line-height: 32px;
}


a.btn_add_cart {
padding: 5px 8px;
}



#buy_block .row-2 #reduction_percent span{
  margin-top: 14px
}


.alert-warning a{
  color: #c09853;
}



#topBanner{
  position: absolute;
  top: 16px;
  right: 60px;
  width: 600px;
  height: 116px;
  border: 1px solid #c40000;
  background-color: #fff;
}

#topBanner div{
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  color: #c40000;
}


.htmlcontent-item .white{
  color: #fff;
}


.htmlcontent-item .background_white{
  background-color: rgba(255, 255, 255, 0.9)
}



.line-through{
  text-decoration: line-through;
}


table#cart_summary #total_price_container {
  text-align: left;
}


table#cart_summary td.price {
  text-align: left;
}


#btnConfirmPayment{
  font-size: 20px
}

.dataTables_paginate a{
  margin: 0 10px;
}


.countdown-section{
  margin: 0 5px;
}

.countdown-amount{
  margin-right: 3px;
  font-size: 18px
}

#search_block_top a, #search_block_top input.search_query {
  height: 26px;
}

#search_block_top a i {
  line-height: 26px;
}


#buy_block .row-2 {
padding-top: 6px;
padding-bottom: 6px;
line-height: 46px;
}



#ofertas-disponiveis #pb-left-column .main_page_products h4 {
  font-size: 13px;
  line-height: 15px;
  padding: 14px 15px 14px 28px;
  margin: 0 0 9px 0;
}

#ofertas-disponiveis #pb-left-column .alert {
  padding: 6px;
}


#fb-root {
  display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;}
