<%= form_for(@order_transaction) do |f| %>
  <% if @order_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_transaction.errors.count, "error") %> prohibited this order_transaction from being saved:</h2>

      <ul>
      <% @order_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :order_id %>
    <%= f.collection_select :order_id, Order.all, :id, :name, {include_blank: 'Sem pedido (transação perdida)'}, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :full_response %>
    <%= f.text_area :full_response, rows: 10 %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :payment_status %>
    <%= f.text_field :payment_status, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :payment_method %>
    <%= f.text_field :payment_method, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :gross_amount %>
    <%= f.text_field :gross_amount, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :discount_amount %>
    <%= f.text_field :discount_amount, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :fee_amount %>
    <%= f.text_field :fee_amount, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :net_amount %>
    <%= f.text_field :net_amount, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :extra_amount %>
    <%= f.text_field :extra_amount, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
    <%= f.label :code %>
    <%= f.text_field :code, class: 'form-control' %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default' %>
<% end %>
