<table class="table table-striped table-condensed table-bordered dt">
  <thead>
    <tr>
      <% if controller.action_name == "index" %>
      <th>Pedido vinculado</th>
      <% end -%>
      <th>Criada em</th>
      <th>Situação do Pagamento</th>
      <th>Meio de Pagamento</th>
      <th>Valor Bruto</th>
      <th>Taxas</th>
      <th>Valor Líquido</th>
      <th>Código</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
  <% order_transactions.each do |order_transaction| %>
    <tr>
      <% if controller.action_name == "index" %>
      <td><%= link_to "#{order_transaction.order.status} - #{order_transaction.order_id}", order_transaction.order %></td>
      <% end -%>
      <td>
        <%= l order_transaction.created_at %>
      </td>
      <td><%= order_transaction.payment_status.titleize %></td>
      <td><%= order_transaction.payment_method.titleize %></td>
      <td><%= number_to_currency order_transaction.gross_amount %></td>
      <td><%= number_to_currency order_transaction.fee_amount %></td>
      <td><%= number_to_currency order_transaction.net_amount %></td>
      <td><%= order_transaction.code %></td>
      <td class="text-right">
        <div class="btn-group btn-group-xs">
          <%= link_to 'Detalhes', edit_order_transaction_path(order_transaction), class: 'btn btn-default' %>
          <%= link_to 'Apagar', order_transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
