<p id="notice"><%= notice %></p>

<p>
  <strong>Product ad order:</strong>
  <%= @product_ad_order_transaction.product_ad_order %>
</p>

<p>
  <strong>Order transaction:</strong>
  <%= @product_ad_order_transaction.order_transaction %>
</p>

<p>
  <strong>Gross amount:</strong>
  <%= @product_ad_order_transaction.gross_amount %>
</p>

<p>
  <strong>Discount amount:</strong>
  <%= @product_ad_order_transaction.discount_amount %>
</p>

<p>
  <strong>Fee amount:</strong>
  <%= @product_ad_order_transaction.fee_amount %>
</p>

<p>
  <strong>Net amount:</strong>
  <%= @product_ad_order_transaction.net_amount %>
</p>

<p>
  <strong>Extra amount:</strong>
  <%= @product_ad_order_transaction.extra_amount %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @product_ad_order_transaction.reference_id %>
</p>

<%= link_to 'Editar', edit_product_ad_order_transaction_path(@product_ad_order_transaction) %> |
<%= link_to 'Voltar', product_ad_order_transactions_path %>
