<!DOCTYPE html>
<html>
<head>
  <title><%= default_title %></title>
  <meta name="description" content="Ofertas e descontos de verdade que cabem no seu bolso. Promoções para tratamentos estéticos, mecânica do seu carro, alimentação, produtos e serviços. Tudo com confiança e facilidade." />

  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <meta http-equiv="content-language" content="pt-br" />
  <meta name="generator" content="Rota Empresarial" />
  <meta name="keywords" content="ofertas, descontos, promoção, promoções, compra coletiva, compras, caratinga, vale do aço, ipatinga, raul soares, ponte nova, produtos, cupons">
  <meta name="author" content="Rodrigo Toledo">
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/assets/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
  if (navigator.userAgent.match(/Android/i)) {
    var viewport = document.querySelector("meta[name=viewport]");
    viewport.setAttribute('content', 'initial-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width,height=device-height');
  }
  if(navigator.userAgent.match(/Android/i)){
    window.scrollTo(0,1);
  }
  </script>
  <!--[if lt IE 9]><div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
</head>
<body id="<%= body_id %>" class="lang_en">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="/guia-empresarial">Mais de <%= Company.actives.count %> empresas cadastradas</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= render partial: 'shared/cities' %>
          <% if (admin_signed_in?) %>
            <%= render partial: 'shared/admin' %>
          <% end %>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div id="page" class="clearfix">
    <div class="page_wrapper_1 clearfix">
      <!-- Header -->
      <% if using_mobile? %>
        <div class="container">
          <a href="/"><%= image_tag "logo_rota.png", alt: default_title, class: "logo" %></a>
          <% if current_page?(root_path) %>
            <%= render partial: 'shared/advertisements_mobile' %>
          <% end %>
        </div>
      <% else %>
        <header id="header" class="container">
          <div id="header_right">
            <a id="header_logo" href="/" title="<%= default_title %>">
              <%= image_tag "logo_rota.png", alt: default_title, width: 300, class: "logo" %>
            </a>

            <%= render partial: 'shared/banner_top' %>
            <%= render partial: 'shared/menu_top' %>
            <%= render partial: 'shared/search' %>

            <% if current_page?(root_path) %>
              <%= render partial: 'shared/advertisements' %>
            <% end %>
        </div>
      </header>
    <% end -%>
  </div>
  <div class="page_wrapper_2 clearfix">
    <div id="columns" class="container">
      <div class="row">
        <% if content_for?(:sidebar_left) %>
          <%= yield(:sidebar_left) %>

          <!-- Center -->
          <div id="center_column" class="center_column col-xs-12 col-sm-9 clearfix">
            <%= flash_messages %>
            <%= yield -%>
          </div>
        <% else %>
          <div id="center_column" class="center_column col-xs-12 clearfix">
            <%= flash_messages %>
            <%= yield -%>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="page_wrapper_3 clearfix">
    <footer id="footer" class="container">
      <div class="row modules">
        <!-- MODULE Block footer -->
        <section class="block blockcms_footer col-sm-3">
          <h4 class="toggle">Guia Empresarial<i class="icon-plus-sign"></i></h4>
          <ul class="list-footer toggle_content clearfix">
            <li class="first_item"><a href="/guia-empresarial" title="Empresas Disponíveis">Empresas Disponíveis</a></li>
            <li><a href="<%=cidades_path%>" title="Cidades com Ofertas" rel="nofollow">Cidades Disponíveis</a></li>
            <li><a href="<%=pagina_path('anuncie-conosco')%>" title="Anuncie Conosco" rel="nofollow">Anuncie Conosco</a></li>
          </ul>
        </section>
        <section class="bottom_footer">&copy; <%= Date.today.year %> Todos os direitos estão reservados a <a target="_blank" href="/">Rota Empresarial</a></section> <!-- /MODULE Block footer -->

        <!-- Block myaccount module -->
        <section class="block blockmyaccountfooter col-sm-3">
          <h4>Informações<i class="icon-plus-sign"></i></h4>
          <ul class="list-footer toggle_content clearfix">
            <li><a href="<%=pagina_path('sobre-a-empresa')%>" title="Sobre a Empresa" rel="nofollow">Sobre a Empresa</a></li>
            <li><a href="<%=regras_gerais_path%>" title="Regras Gerais" rel="nofollow">Regras Gerais</a></li>
            <li><a href="<%=contato_path%>" title="Fale Conosco" rel="nofollow">Fale Conosco</a></li>
          </ul>
        </section>
        <!-- /Block myaccount module -->

        <section class="block blocksocial col-sm-3">
          <h4>Siga-nos<i class="icon-plus-sign"></i></h4>
          <ul class="toggle_content">
            <li class="facebook"><a href="http://www.facebook.com/rotaempresarialoficial" target="_blank">Facebook</a></li>
            <li class="twitter"><a href="http://www.twitter.com/rotaempresarial" target="_blank">Twitter</a></li>
          </ul>
        </section>
        <!-- MODULE Block contact infos -->
      </div>
    </footer>
  </div>
</div>
<% unless admin_signed_in? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51287176-1', 'rtoledo.inf.br');
  ga('send', 'pageview');

</script>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?2Dvbtk8b4bVDSbzugq3dwn5Iymv6aGvx';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
<% end -%>
</body>
</html>
