<!DOCTYPE html>
<html>
<head>
  <title>Rota Empresarial - Seja onde for sua empresa passa por aqui</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <base href="<%=default_host_to_email%>" target="_blank">

  </script>
  <!--[if lt IE 9]><div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag "logo_rota.png", class: "logo", alt: "Rota Empresarial",  width: "325" %>
        <%= yield %>
        <p>
          Email: <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#116;&#111;&#064;&#115;&#101;&#108;&#105;&#103;&#097;&#110;&#097;&#111;&#102;&#101;&#114;&#116;&#097;&#046;&#099;&#111;&#109;&#046;&#098;&#114;">contato@rotaempresarial.com.br</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
