<div class="breadcrumb">
  <div class="breadcrumb_inset">
    <a class="breadcrumb-home" href="/" title="Retornar a página inicial"><i class="icon-home"></i></a>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page"><a href="/minha-conta">Minha conta</a></span>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page"><a href="/usuarios-entrar">Entrar</a></span>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page">Esqueci minha senha</span>
  </div>
</div>

<h1><span>Minha conta</span></h1>

<div class="row">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'std col-xs-12 col-sm-12' }) do |f| %>
    <%= devise_error_messages! %>
    <fieldset class="titled_box">
      <h2><span>Para recuperar sua senha, preencha o campo abaixo com seu email</span></h2>
      <div class="form_content clearfix">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "Entre com seu email", autocomplete: "off",  class: "account_input form-control" %>
        </div>
        <p class="submit">
          <input type="submit" id="SubmitLogin" name="SubmitLogin" class="button btn btn-default" value="Envie-me instruções para recuperar minha senha" />
        </p>

      </div>
    </fieldset>
  <% end %>
</div>
